/*CSS PARA PASOS METODOLOGIA*/

/*ESTILOS DE LA BOTONERA PASO A PASO*/

/* #botonera {
    background-color: white;
    height: 150px;
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1rem rgb(78, 75, 80);
}

#botonera button {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    transition: 1600ms;
    box-shadow: 0.5rem 0.5rem 1rem rgb(78, 75, 80);
} */

/* #botonera:hover button {
    border-radius: 10px;
    background-color: #9A00BF;
    color: white;
    transition: 1600ms;
    box-shadow: 0.5rem 0.5rem 1rem rgb(48, 1, 66);
    transform: translateY(5px);
} */

/*FIN BOTONERA*/

/*ESTILOS DIV PASO A PASO METODOLOGIA*/

.titulo__pasosM h1 {
    font-size: 20px;
    text-align: center;
    color: #AB29CA;
}

.titulo__pasosM p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.container__pasos {
    height: 100%;
    background-color: bisque;
    margin: 100px;
}

.pasos__card {
    height: 100%;
    margin: 50px;
    background-color: aliceblue;
}

/*ESTILOS DIV PASO 1 METODOLOGIA*/

#div__paso1 {
    font-size: 40px;
    height: 100%;
    width: 100%;
    background-color: red;
    display: none;
}

.pasos p{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.pasos h4{
    text-align: center;
}

#div__paso1 h1{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}


/*ESTILOS DIV PASO 2 METODOLOGIA*/

#div__paso2 {
    font-size: 40px;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: none;
}

#div__paso2 h1{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

#video__pasos2 {
    background-color: black;
    width: 760px;
    height: 650px;
    border-radius: 20px;
}

#video__pasos2 button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    width: 155px;
    height: 40px;
    display: block;
    margin: 2px 2px;
    margin-left: 35%;
    background-color: var(--color_text-primary);
    color: white;
}

/*ESTILOS DIV PASO 3 METODOLOGIA*/

#div__paso3 {
    font-size: 40px;
    height: 500px;
    width: 100%;
    background-color: rgb(39, 101, 201);
    display: none;
}

#div__paso3 h1{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

#video__pasos3 {
    background-color: black;
    width: 760px;
    height: 650px;
    border-radius: 20px;
}

#video__pasos3 button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    width: 155px;
    height: 40px;
    display: block;
    margin: 2px 2px;
    margin-left: 35%;
    background-color: var(--color_text-primary);
    color: white;
}

/*ESTILOS DIV PASO 4 METODOLOGIA*/

#div__paso4 {
    font-size: 40px;
    height: 500px;
    width: 100%;
    background-color: rgb(217, 45, 165);
    display: none;
}

#div__paso4 h1{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

#video__pasos4 {
    background-color: black;
    width: 760px;
    height: 650px;
    border-radius: 20px;
}

#video__pasos4 button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    width: 155px;
    height: 40px;
    display: block;
    margin: 2px 2px;
    margin-left: 35%;
    background-color: var(--color_text-primary);
    color: white;
}

/*ESTILOS DIV PASO 5 METODOLOGIA*/

#div__paso5 {
    font-size: 40px;
    height: 500px;
    width: 100%;
    background-color: gray;
    display: none;
}

#div__paso5 h1{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

#video__pasos5 {
    background-color: black;
    width: 760px;
    height: 650px;
    border-radius: 20px;
}

#video__pasos5 button {
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    width: 155px;
    height: 40px;
    display: block;
    margin: 2px 2px;
    margin-left: 35%;
    background-color: var(--color_text-primary);
    color: white;
}