{% extends 'azul/index.html' %} {% block content %}

<!-- Aqui desde herramientas -->
<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="display-4 mt-4">
        Herramientas de desencriptado de ransomware
      </h1>
      <h1 class="mt-4">PyLocky Ransom</h1>
      <p class="mt-4 fst-italic fs-5">
        Si su ordenador ha sido infectado por el ransomware PyLocky se mostrara
        en pantalla lo siguiente:
      </p>
      <div class="col-5 mx-auto">
        <p class="fst-italic fs-5 p-4">
          Tiene, en su sistema, archivos encriptados y varios archivos idénticos
          llamados LOCKY-README.txt han aparecido de la siguiente manera:
        </p>
      </div>
      <div class="p-2 border border-success p-4 mt-2">
        <img class="img-fluid mt-4" src="/media/paso2/Pylocker.webp" />
      </div>
      <div class="mt-5">
        <p class="fs-4 fst-italic">
          Si los archivos encriptados tienen la extensión
        </p>
        <div class="col-5 mx-auto border border-success">
          <p class="fst-italic fs-5 p-2">
            Para su primera version: « .lockedfile” o « .lockymap » Para la
            segunda versión « .locky »
          </p>
        </div>
        <div class="mx-auto mt-5 col-10">
          <p class="fst-italic fs-5">
            Para descifrar sus archivos siga los siguientes pasos: en un
            ordenador con sistema operativo Windows 7 o superior, Instalar Java
            Runtime Environment or JRE version 8, disponible gratuitamente en
            Oracle Conecte la unidad al ordenador que va a utilizar para el
            análisis y cuyos archivos del disco duro archivos del disco duro han
            sido encriptados.
          </p>
        </div>
        <div class="col-4 mx-auto text-center">
          <table class="table table-striped table-secondary mt-4">
            <thead>
              <tr>
                <th scope="col" class="fst-italic">PYLOCKY</th>
                <th scope="col" class="fst-italic">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAlFJREFUSEu9l/1xFDEMxX+qADpIOuDSwV0lHB3QQS4d0AFHJZdUkNABdAAVmLHXXytL3s0/7GQms45XT096enaE/AgQyst/+C0Qf0JDVRksr/3iuFLzrNsmexrR+SYVy6yFmZyEFR/94cK4FnksuNmCPVXpq2ikq4Dp8pgk4QnCTMgWTNyanj3MuhBH4JbfT8DzOvyuHs8l7IRowMJJAs9lIkxNGIuV8eYErUtyFLglMOFE0Iy3ydRx8rTgSM8otarNxBjinyaMJwqScCTMeuwxbp5hAnsD1nFyxbVXpJvAjmNkxgnmJGRxbY5T27AAm66peFcRpPXMWAGP3umqrAe+D3CX83gZDgwhsgx54g8C3/Ker8Bbh/AyGEP9lt/ALy2uC8hjts/RSiWcCXy3jKJb+wJcDTsqPJ6ASzGs8l1ceOyMzCrTFfhsGH4sxQ+EmFy1wq47qVbACCxwCS7wakZjWT8p8J/AwUkoLud05AmCz3jRWg+2kuvH2CfgQwb6C9wDf2zg9G3IESalbnhdnMGVDgRe84aHXlyOt7ceC5cs0cpm6bEJbE7FOc/hdcedaYe4euCa0+hlnrs5g2sB94z7cepDuP12cIbW+KrO81XGKSmvPaMXmqeZWaEUpcQzxXUEub3vxllHdmyz6dvyACG5nDok5IyEqLpknWWDYZ/N4DxlrdlHq4ysowHVuM6Fy2mfu+wMkn2bMy4C6qSqOKp0EwXsyrieTjtm0dXamJyXZauK6rHisfHfQOnRfKbVKOaYE2AlLhV9GadJ/UcOq6L+A880BTOi7oLQAAAAAElFTkSuQmCC"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col">
                      <p class="fw-semibold fst-italic">
                        Descarga el program Pylocky_Decryptor.jar el programa se
                        ejecuta con doble click
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-4">
                      <div class="d-grid gap-2">
                        <a
                          class="btn btn-success btn-sm"
                          role="button"
                          href="https://www.cybermalveillance.gouv.fr/medias/2019/06/Outil_de_dechiffrement_PyLocky_V1_V2-1.zip"
                          >Descargar</a
                        >
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="border border-success p-4">
        <img class="img-fluid" src="/media/paso2/Pylocker1.webp" />
      </div>
      <div class="border border-success mt-4 p-4">
        <p class="fst-italic fs-5">
          Luego aparecera la siguiente ventana donde se muestran los archivos a
          desencriptar:
        </p>
        <img class="img-fluid" src="/media/paso2/Pylocker2.png" />
      </div>
      <div class="border border-success p-2 mt-4">
        <p class="fst-italic fs-5">
          En la siguiente imagen se muestra como elegir la version correcta de
          software a usar y tambien se puede elegir el disco en especifico al
          que se debe realizar el barrido para encontrar mas archivos cifrados.
        </p>
        <img class="img-fluid" src="/media/paso2/Pylocker3.webp" />
      </div>
      <div>
        Tomado de:
        <a
          href="https://www.cybermalveillance.gouv.fr/tous-nos-contenus/actualites/outil-de-dechiffrement-du-rancongiciel-ransomware-pylocky-versions-1-et-2"
          >Ver</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-success btn-lg"
          role="button"
          href="{% url 'encuesta' %}"
          >Siguiente</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-secondary btn-lg"
          role="button"
          href="{% url 'encryption3' %}"
          >Volver</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
