<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style2.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" href="https://live.staticflickr.com/65535/52894931347_26cb3a54f9_o.png">
    <title>Metodología</title>
  </head>
  <body>
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'method' %}"
                  >Documentación</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'step1' %}">Metodología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!-- TODO: Programación del Body -->
    <div class="container">
      <h2 class="mt-5 mb-5">
        DESARROLLO DE UNA METODOLOGÍA COMO RESPUESTA A INCIDENTES DE INFECCIÓN
        POR RANSOMWARE
      </h2>
      <p class="fs-4 mt-4">
        Esta metodología sirve para tener un conjunto estructurado y sistemático
        de pasos y prácticas a seguir cuando se detecta un ataque ransomware,
        con el objetivo de minimizar el impacto y restaurar los servicios y
        sistemas afectados lo más rápido posible.
      </p>
      <p class="fs-4 mt-2">
        Al tener una metodología clara y definida, se pueden tomar decisiones
        informadas y coordinar acciones de forma más eficiente y efectiva, lo
        que puede reducir los tiempos de respuesta y aumentar la posibilidad de
        éxito en la mitigación del ataque. Además, tener una metodología
        documentada puede ayudar a mantener una trazabilidad y un registro de lo
        sucedido, lo que puede ser útil en futuros análisis y mejoras del
        sistema de seguridad.
      </p>
      <p class="mt-2">
        Este documento contiene la investigación. Lo podrá descargar del
        siguiente link
      </p>
      <!-- src="/media/img/0.png" -->
      <a
        href="#"
        onclick="window.open('/media/pdf/Ransomware.pdf','_blank','fullscreen=yes');"
        >Abrir PDF</a
      >
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50" style="margin-top: 90px">
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="{% url 'step1' %}" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">METODO</span>LOGÍA
            </h1>
          </a>
          <p>
            Metodología creada para capacitar a empresas para hacerle frente a
            infecciones ransomware
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros Servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="{% url 'feed' %}"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="{% url 'method' %}"
              ><i class="fa fa-angle-right mr-2"></i>Documentación</a
            >
            <a class="text-white-50 mb-2" href="{% url 'train' %}"
              ><i class="fa fa-angle-right mr-2"></i>Capacitacion</a
            >
            <a class="text-white-50 mb-2" href="{% url 'step1' %}"
              ><i class="fa fa-angle-right mr-2"></i>Metodología</a
            >
            <a class="text-white-50 mb-2" href="{% url 'encryption8' %}"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            links funcionales
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a
              class="text-white-50 mb-2"
              href="https://id-ransomware.malwarehunterteam.com/"
              ><i class="fa fa-angle-right mr-2"></i>ID Ransomware</a
            >
            <a
              class="text-white-50 mb-2"
              href="https://latam.kaspersky.com/home-security?reseller=es-LA_bb2023_pro_ona_sem_bra_onl_b2c_goo_ppc-ad_______&utm_content=bb2023|generic&utm_id=bi_cmp-298177336_adg-1294125578123615_ad-80882956982290_kwd-80883071480946:loc-43_dev-c_ext-_prd-_sig-3ecd079b75db1311a69063bc2306550b&utm_source=google&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-%20SP%20-%20B-EXA-KW&msclkid=3ecd079b75db1311a69063bc2306550b&utm_source=bing&utm_medium=cpc&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-
            %20SP%20-%20B-EXA-KW&utm_term=kaspersky&utm_content=kaspersky"
              ><i class="fa fa-angle-right mr-2"></i>kaspersky</a
            >
            <a class="text-white-50 mb-2" href="https://www.emsisoft.com/en/"
              ><i class="fa fa-angle-right mr-2"></i>emsisoft</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contactanos
          </h5>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Pasto, Colombia</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 311 340 2393</p>
          <p><i class="fa fa-envelope mr-2"></i>freurbano@gmail.com</p>
        </div>
      </div>
    </div>
    <div
      class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
      style="border-color: rgba(256, 256, 256, 0.1) !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0"></div>
        <div class="col-lg-6 text-center text-md-right"></div>
      </div>
    </div>
    <!-- Footer End -->
    <!--*** Link del Boostrap ***-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
