<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style2.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Metodología</title>
  </head>
  <body>
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'feed' %}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Metodología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'step1' %}">Paso a paso M</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Heramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!-- TODO: Programación del Body -->
    <h1 class="display-1 m-5">Este apartado solo lo puse para acordame que va aquí. La información de abajo es inventada.</h1>
    <div class="container">
      <h2>
        DESARROLLO DE UNA METODOLOGÍA COMO RESPUESTA A INCIDENTES DE INFECCIÓN
        POR RANSOMWARE
      </h2>
      <p class="fs-4 mt-4">
        Esta metodología sirve para tener un conjunto estructurado y sistemático
        de pasos y prácticas a seguir cuando se detecta un ataque ransomware,
        con el objetivo de minimizar el impacto y restaurar los servicios y
        sistemas afectados lo más rápido posible.
      </p>
      <p class="fs-4 mt-2">
        Al tener una metodología clara y definida, se pueden tomar decisiones
        informadas y coordinar acciones de forma más eficiente y efectiva, lo
        que puede reducir los tiempos de respuesta y aumentar la posibilidad de
        éxito en la mitigación del ataque. Además, tener una metodología
        documentada puede ayudar a mantener una trazabilidad y un registro de lo
        sucedido, lo que puede ser útil en futuros análisis y mejoras del
        sistema de seguridad.
      </p>
      <p class="mt-2">Este documento lo podra descargar del siguiente link</p>
      <a href="">https:/www.linkfalso.com</a>
    </div>
    <!--*** Link del Boostrap ***-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
