{% extends 'azul/index.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="display-4 m-4 estilo1">
        Identificar que ransomware es el que infecto al sistema
      </h1>
      <p class="pt-2 fst-italic fs-4 estilo1">
        Pasos a seguir para controlar y hallar solución a infecciones por
        ransomware
      </p>
      <div class="col-4 mx-auto">
        <table class="table table-striped table-secondary mt-4">
          <thead>
            <tr>
              <th scope="col" class="fst-italic">Lista Ransomware</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">WannaCry</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'wanna1' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Locky</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'encryption3' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Bad Rabbit</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'badRabbit' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Ryuk</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'ryuk' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Shade/Troldesh</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'shadeT' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Jigsaw</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'jigsaw' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">CryptoLocker</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'cryptolocker' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">Petya</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'petya' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">GandCrab 5</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'gandCrab' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">GoldenEye</p>
                  </div>
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="{% url 'goldenEye' %}"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-secondary btn-lg"
          role="button"
          href="{% url 'feed' %}"
          >Volver</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
