{% extends 'azul/index.html' %} {% block content %}

<div class="titulo11">
  <h1>Método de Desinfección para Locky</h1>
</div>
<div class="listado7">
  <h4>Paso 5:</h4>
  <h3>Restaurar archivos con herramientas de recuperación de datos</h3>
  <br>
  <a class="escaneo" role="button" href="{% url 'scanning' %}">Realiza un escaneo y recuperar datos</a>
  <br><br>
  <!-- <a class="recuperar" role="button" href="{% url 'recover' %}">Recuperar datos</a> -->
</div>
<br><br>
<div class="div-bot4">
  <a class="btn9" role="button" href="{% url 'encryption6' %}">Volver</a>
  <a class="btn10" role="button" href="{% url 'encryption5' %}">Continuar</a>
</div>

{% endblock %}
