{% extends 'azul/index.html' %} {% block content %}

<div>
  <h1 class="titulo13">Método de Desinfección para Locky</h1>
</div>
<div class="div-encrypt">
  <h4 class="titulo14">Paso 4:</h4>
  <h2>
    Fue efectivo el método de descifrado mediante el uso de la herramienta?
  </h2>
  <div class="listado9">
    <!-- <a class="btn-encry1" role="button" href="{% url 'consultcases3' %}">Si</a> -->
    <a class="btn-encry1" role="button" href="{% url 'feed' %}">Si</a>
    <a class="btn-encry2" role="button" href="{% url 'encryption4' %}">No</a>
  </div>
</div>
<br /><br />
<br /><br />
<div class="">
  <a class="volver-encry6" role="button" href="{% url 'encryption3' %}"
    >Volver</a
  >
</div>

{% endblock %}
