{% extends 'azul/index.html' %} {% block content %}

<div class="titulo12">
  <h1>Método de Desinfección para Locky</h1>
</div>

<div class="listado8" id="">
  <h4>Paso 6:</h4>
  <h3>Crear copias de seguridad de datos</h3>
  <br />
  <a class="pasos" id="" role="button" href="{% url 'copy' %}"
    >Pasos para crear copias de seguridad</a
  >
</div>
<br /><br />
<br />
<div class="div-bot5" id="">
  <a class="btn11" role="button" href="{% url 'encryption4' %}">Volver</a>
  <!-- <a class="btn11" role="button" href="{% url 'consultcases2' %}">Siguiente</a> -->
  <a class="btn11" role="button" href="{% url 'feed' %}">Siguiente</a>
</div>

{% endblock %}
