<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Link del Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'train' %}"
                  >Capacitación</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'step1' %}">Metodología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>
    <!--! programación del body  -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">RANSOM</span>WARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="w-100 p-5"
              style="max-height: 900px"
              src="/media/feed/R1.webp"
              alt="Image"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h4 class="text-white text-uppercase mb-md-3">
                  TODO LO NECESARIO SOBRE
                </h4>
                <h1 class="display-3 text-white mb-md-4">RANSOMWARE</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="w-100 p-5"
              style="max-height: 900px"
              src="/media/feed/R2.webp"
              alt="Image"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h4 class="text-white text-uppercase mb-md-3">
                  TODO LO NECESARIO SOBRE
                </h4>
                <h1 class="display-3 text-white mb-md-4">RANSOMWARE</h1>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#header-carousel"
          data-slide="prev"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a
          class="carousel-control-next"
          href="#header-carousel"
          data-slide="next"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">QUE ES</span> ES EL RANSOMWARE?
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Booking Start -->
    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/que.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Que es el ransomware?
                              </h6>
                              <p style="overflow-wrap: break-word">
                                El ransomware es un tipo de malware, o software
                                malicioso, que bloquea los datos o el
                                dispositivo informático de una víctima y amenaza
                                con mantenerlo bloqueado, o algo peor, a menos
                                que la víctima pague un rescate al atacante.
                                <br />
                                Existen en la actualidad ransomwares de 'doble
                                extorsión' los cuales exigen un rescate para
                                desbloquear datos e impedir su robo. Como
                                tambien los ataques de 'triple extorsión', que
                                añaden la amenaza de un ataque de denegación de
                                servicio distribuido (DDoS), también van en
                                aumento.
                                <br />
                                Estas tácticas de doble y triple extorsión, han
                                activado el aumento de la disponibilidad de
                                soluciones de 'ransomware como servicio' y el
                                surgimiento de las criptomonedas como una forma
                                de pago imposible de rastrear. Todo esto ha
                                alimentado el crecimiento exponencial de
                                incidentes de ransomware.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?').close()"
                    >
                      Cerrar
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->

                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Encontrar información relevante sobre que es el ransomware
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Booking End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light booking navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">METODOS QUE PROVOCAN UNA INFECCIÓN</span>
              RANSOMWARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!--AQUI EMPIEZA EL CODIGO NUEVO-->

    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?1" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/R3.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Métodos de infección por ransomare
                              </h6>
                              <p style="overflow-wrap: break-word">
                                Algunos de los vectores o métodos de infección
                                de ransomware más destacados son los más usados
                                por gran variedad de usuarios de todo tipo.
                                <br />
                                Para conocer cuales son los métodos mas usados
                                te invitamos a hacer click en el boton Métodos
                                Ransomware.
                                <br />
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?1').close()"
                    >
                      Cerrar
                    </button>
                    <button
                      class="btn btn-primary mx-2"
                      id="show"
                      onclick="document.getElementById('mas1').showModal()"
                    >
                      MÉTODOS RANSOMWARE
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->
                  <dialog id="mas1" class="p-5">
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Correos electrónicos de phishing:
                      </span>
                      manipulan a los usuarios para que descarguen y ejecuten un
                      archivo adjunto malicioso (que contiene el ransomware
                      disfrazado de un archivo de apariencia inofensiva: un PDF,
                      un documento de Microsoft Word u otro archivo), o para que
                      visiten un sitio web malicioso que pasa el ransomware a
                      través del explorador web del usuario.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Sistema operativo y del software:
                      </span>
                      los ciberdelincuentes suelen explotar vulnerabilidades
                      existentes para inyectar código malicioso en un
                      dispositivo o en una red. Las vulnerabilidades de día
                      cero, que son vulnerabilidades desconocidas para la
                      comunidad de seguridad o identificadas pero aún no
                      reparadas, representan una amenaza particular. Algunas
                      bandas de ransomware compran información sobre defectos de
                      día cero a otros piratas informáticos para planificar sus
                      ataques.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Robo de credenciales: </span>
                      Los ciberdelincuentes pueden robar las credenciales de los
                      usuarios autorizados, comprarlas en la web oscura o
                      descifrarlas por la fuerza bruta. Luego pueden utilizar
                      estas credenciales para iniciar sesión en una red o en un
                      ordenador y desplegar directamente el ransomware.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Otro malware: </span>
                      Los piratas informáticos a menudo utilizan algún malware
                      desarrollado para otros ataques para insertar ransomware
                      en un dispositivo.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Descargas de tipo drive-by-download:
                      </span>
                      Los piratas informáticos pueden utilizar sitios web para
                      pasar ransomware a dispositivos sin el conocimiento de los
                      usuarios.
                    </h4>
                    <br />
                    <button
                      class="btn btn-primary"
                      id="close"
                      onclick="document.getElementById('mas1').close()"
                    >
                      Volver
                    </button>
                  </dialog>
                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Consulta los métodos usados para infectar un dispositivo
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?1').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--aqui termina el codigo nuevo-->

    <!-- INICIO EVITAR ATAQUES -->

    <!--AQUI EMPIEZA EL CODIGO NUEVO-->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light booking navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">ETAPAS DE UN</span> RANSOMWARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?2" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/EVITAR.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Etapas o pasos de un ransomware
                              </h6>
                              <p style="overflow-wrap: break-word">
                                Una vez que los piratas informáticos accedan a
                                un dispositivo, un ataque de ransomware
                                generalmente seguirá los siguientes pasos.
                                <br />
                                Dale click en ETAPAS RANSOMWARE para conocerlas
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?2').close()"
                    >
                      Cerrar
                    </button>
                    <button
                      class="btn btn-primary mx-2"
                      id="show"
                      onclick="document.getElementById('mas2').showModal()"
                    >
                      ETAPAS RANSOMWARE
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->
                  <dialog id="mas2" class="p-5">
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Paso 1: Reconocimiento </span>
                      Los atacantes exploran el sistema infectado para
                      comprender mejor el dispositivo y la red, y para
                      identificar los archivos que pueden atacar, incluyendo los
                      archivos que contienen información confidencial que el
                      atacante puede utilizar para un ataque de doble o triple
                      extorsión.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Paso 2: Activación: </span>
                      El ransomware criptográfico comienza a identificar y
                      cifrar archivos. La mayoría del ransomware de cifrado
                      implementa un cifrado asimétrico, utilizando una clave
                      pública para cifrar el ransomware y conservando una clave
                      privada que permite descifrar los datos. Como las víctimas
                      no tienen la clave privada, no pueden descodificar los
                      datos cifrados sin la ayuda de los piratas informáticos.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Paso 3: La nota de rescate:
                      </span>
                      Una vez que los archivos han sido encriptados y/o el
                      dispositivo ha sido inhabilitado, el ransomware alerta a
                      la víctima de la infección, a menudo a través de un
                      archivo .txt depositado en el escritorio del sistema o a
                      través de una ventana emergente de notificación. La nota
                      de rescate contendrá instrucciones sobre cómo pagar el
                      rescate, generalmente en criptomonedas o un método similar
                      que no se pueda rastrear, a cambio de una clave de
                      descifrado o de operaciones estándar de restauración.
                    </h4>
                    <br />
                    <button
                      class="btn btn-primary"
                      id="close"
                      onclick="document.getElementById('mas2').close()"
                    >
                      Volver
                    </button>
                  </dialog>
                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Consulta los diferentes etapas que tiene un ransomware
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?2').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--aqui termina el codigo nuevo-->

    <!--AQUI EMPIEZA EL CODIGO NUEVO-->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light booking navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">TIPOS DE</span> RANSOMWARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?3" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/R4.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Tipos de Ransomware
                              </h6>
                              <p style="overflow-wrap: break-word">
                                Hay dos tipos generales de ransomware. El tipo
                                más común, denominado 'ransomware de cifrado ' o
                                'ransomware criptográfico', secuestra los datos
                                de un usuario cifrándolos. La forma menos común
                                de ransomware, a veces llamado 'ransomware de
                                bloqueo', bloquea todo el dispositivo de la
                                víctima.
                                <br />
                                Estos dos tipos se pueden subdividir en las
                                siguientes subcategorías, dale click en TIPOS DE
                                RANSOMWARE para conocerlos
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?3').close()"
                    >
                      Cerrar
                    </button>
                    <button
                      class="btn btn-primary mx-2"
                      id="show"
                      onclick="document.getElementById('mas3').showModal()"
                    >
                      TIPOS DE RANSOMWARE
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->
                  <dialog id="mas3" class="p-5">
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Leakware/Doxware: </span>
                      es un ransomware que roba o exfiltra datos confidenciales
                      y amenaza con hacerlos públicos. Aunque los primeros tipos
                      de leakware o doxware a menudo robaban datos sin
                      cifrarlos, las variantes actuales suelen hacer ambas
                      cosas.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Ransomware móvil: </span>
                      incluye todo el ransomware que afecta a dispositivos
                      móviles. Se introduce a través de aplicaciones maliciosas
                      o descargas drive-by, el ransomware móvil es típicamente
                      un ransomware sin cifrado porque gracias a las copias de
                      seguridad automáticas de datos en la nube, el estándar en
                      muchos dispositivos móviles, es fácil revertir los ataques
                      con cifrado.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Wiper/ransomware destructivo:
                      </span>
                      amenaza con destruir los datos si no se paga el rescate,
                      excepto en los casos en que el ransomware destruye los
                      datos incluso aunque se pague el rescate. Este último tipo
                      de wiper, a menudo se sospecha que lo despliegan actores o
                      hacktivistas de estados-nación y no cibercriminales
                      comunes.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Scareware: </span>
                      ransomware que intenta asustar a los usuarios para que
                      paguen un rescate. El scareware puede presentarse como un
                      mensaje de algún cuerpo de seguridad, acusando a la
                      víctima de un delito y exigiendo una multa; puede
                      suplantar la identidad de una alerta legítima de infección
                      por virus, recomendando a la víctima que compre un
                      software antivirus o antimalware.
                    </h4>
                    <br />
                    <button
                      class="btn btn-primary"
                      id="close"
                      onclick="document.getElementById('mas3').close()"
                    >
                      Volver
                    </button>
                  </dialog>
                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Consulta los diferentes tipos de ransomware existentes
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?3').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--aqui termina el codigo nuevo-->

    <!--AQUI EMPIEZA EL CODIGO NUEVO-->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light booking navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">VARIANTES DE</span> RANSOMWARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?4" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/R5.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Variantes de Ransomware mas destacadas
                              </h6>
                              <p style="overflow-wrap: break-word">
                                Desde 2020, los investigadores de ciberseguridad
                                han identificado más de 130 familias o variantes
                                activas de ransomware distintas: cepas
                                exclusivas de ransomware con sus propias firmas
                                de código y sus funciones. Entre las muchas
                                variantes de ransomware que han circulado a lo
                                largo de los años, destacan especialmente varias
                                cepas por el alcance de la destrucción que
                                provocaron, por cómo influyeron en el desarrollo
                                del ransomware o por la amenaza que representan
                                aún hoy.
                                <br />
                                Da click en Variantes para conocer las mas
                                destacadas
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?4').close()"
                    >
                      Cerrar
                    </button>
                    <button
                      class="btn btn-primary mx-2"
                      id="show"
                      onclick="document.getElementById('mas4').showModal()"
                    >
                      Variantes
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->
                  <dialog id="mas4" class="p-5">
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> CryptoLocker: </span>
                      CryptoLocker fue una de las primeras familias de
                      ransomware en cifrar fuertemente los archivos de los
                      usuarios. El éxito de CryptoLocker generó numerosos
                      imitadores y allanó el camino para variantes como
                      WannaCry, Ryuk y Petya (que se describen a continuación).
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">WannaCry: </span>
                      fue el primer criptogusano importante (ransomware que se
                      puede extender a otros dispositivos en una red) y atacó a
                      más de 200.000 ordenadores (en 150 países) en los cuales
                      los administradores habían olvidado instalar el parche que
                      arrreglaba la vulnerabilidad EternalBlue de Microsoft
                      Windows. Además de cifrar los datos confidenciales, el
                      ransomware WannaCry amenazaba con borrar los archivos si
                      no se recibía el pago en un plazo de siete días.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Petya y NotPetya: </span>
                      Petya encripta la tabla del sistema de archivos en vez de
                      cifrar archivos individuales, por lo que el sistema
                      infectado es incapaz de arrancar Windows. Una versión muy
                      modificada, NotPetya, se utilizó para realizar un
                      ciberataque a gran escala, principalmente contra Ucrania,
                      en 2017. NotPetya era un wiper incapaz de desbloquear los
                      sistemas incluso después de que se pagara el rescate.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Ryuk: </span>
                      Visto por primera vez en 2018, Ryuk popularizó los ataques
                      de 'ransomware de caza mayor' contra objetivos específicos
                      de alto valor, con demandas de rescate de más de 1 millón
                      de dólares de promedio. Ryuk puede localizar e inhabilitar
                      los archivos de copia de seguridad y las características
                      de restauración del sistema; en 2021 se descubrió una
                      nueva cepa con capacidades de criptogusano.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> DarkSide: </span>
                      variante de ransomware que atacó el oleoducto
                      estadounidense Colonial Pipeline el 7 de mayo de 2021, en
                      lo que se considera el peor ciberataque en una
                      infraestructura crítica de EE.UU. hasta la fecha. Tambien
                      proporciona licencias de su ransomware a sus afiliados a
                      través de acuerdos RaaS.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Locky: </span>
                      utiliza macros ocultas en archivos adjuntos de correo
                      electrónico (archivos de Microsoft Word) con apariencia de
                      facturas válidas. Cuando un usuario descarga y abre el
                      documento de Microsoft Word, las macros maliciosas
                      descargan secretamente la carga útil del ransomware en el
                      dispositivo del usuario.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> REvil/Sodinokibi: </span>
                      ayudó a popularizar el método RaaS para la distribución de
                      ransomware.
                    </h4>
                    <br />
                    <button
                      class="btn btn-primary"
                      id="close"
                      onclick="document.getElementById('mas4').close()"
                    >
                      Volver
                    </button>
                  </dialog>
                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Consulta las diferentes variantes de ransomware destacadas
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?4').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--aqui termina el codigo nuevo-->

    <!--AQUI EMPIEZA EL CODIGO NUEVO-->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light booking navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary mx-5">
              <span class="text-dark">PROTECCIÓN CONTRA</span> RANSOMWARE
            </h1>
          </a>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          ></div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid booking mt-5 pb-5">
      <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px">
          <div class="row align-items-center" style="min-height: 60px">
            <div class="col-md-10">
              <div class="row mx-5">
                <div class="video3">
                  <!--INICIO PRIMER DIALOG-->
                  <dialog id="queES?5" class="p-5">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                      <div class="container pt-5">
                        <div class="row">
                          <div class="col-lg-6" style="min-height: 500px">
                            <div class="position-relative h-100">
                              <img
                                class="position-absolute w-100 h-100"
                                src="/media/feed/R5.webp"
                                style="object-fit: cover"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 pt-5 pb-lg-5">
                            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                              <h6
                                class="text-primary text-uppercase"
                                style="letter-spacing: 5px"
                              >
                                Protección y respuesta contra ransomare
                              </h6>
                              <p style="overflow-wrap: break-word">
                                Para defenderse de las amenazas de ransomware,
                                se recomienda a las organizaciones tomar ciertas
                                medidas de precaución, como por ejemplo las
                                nombradas en el botón Protección.
                                <br />
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary mx-5"
                      id="close"
                      onclick="document.getElementById('queES?5').close()"
                    >
                      Cerrar
                    </button>
                    <button
                      class="btn btn-primary mx-2"
                      id="show"
                      onclick="document.getElementById('mas5').showModal()"
                    >
                      Protección
                    </button>
                  </dialog>
                  <!--FIN PRIMER DIALOG-->

                  <!--INICIO SEGUNDO DIALOG-->
                  <dialog id="mas5" class="p-5">
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Mantener copias de seguridad:
                      </span>
                      mantener siempre copias de datos confidenciales e imágenes
                      del sistema, idealmente en discos duros u otros
                      dispositivos que puedan estar desconectados de la red.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">Parches: </span>
                      aplicar parches regularmente para impedir los ataques de
                      ransomware que explotan vulnerabilidades del software y
                      del sistema operativo.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark">
                        Herramientas de ciberseguridad:
                      </span>
                      actualizar las herramientas de ciberseguridad incluyendo
                      software anti-malware y antivirus, cortafuegos y pasarelas
                      web seguras, así como soluciones de ciberseguridad
                      empresarial, como por ejemplo herramientas de detección y
                      respuesta de puntos finales (EDR) y detección y respuesta
                      extendida (XDR), que ayudan a a los equipos de seguridad a
                      detectar y responder a ataques de ransomware en tiempo
                      real.
                    </h4>
                    <br />
                    <h4 class="text-center text-primary">
                      <span class="text-dark"> Capacitación: </span>
                      formación en ciberseguridad para los empleados para ayudar
                      a los usuarios a reconocer y evitar el phishing, la
                      ingeniería social y otras tácticas que pueden conducir a
                      infecciones de ransomware.
                    </h4>
                    <br />
                    <button
                      class="btn btn-primary"
                      id="close"
                      onclick="document.getElementById('mas5').close()"
                    >
                      Volver
                    </button>
                  </dialog>
                  <!--FIN SEGUNDO DIALOG-->
                  <h4 class="w-100">
                    Consulta los diferentes métodos contra ransomare
                  </h4>
                  <button
                    class="btn btn-primary"
                    id="show"
                    onclick="document.getElementById('queES?5').showModal()"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--aqui termina el codigo nuevo-->

    <!--termina evitar ataques-->>

    <!--SECCION FOOTER-->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50">
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">METODO</span>LOGÍA
            </h1>
          </a>
          <p>
            Metodología creada para capacitar a empresas para hacerle frente a
            infecciónes ransomare
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros Servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Documentación</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Capacitacion</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Metodología</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            links funcionales
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a
              class="text-white-50 mb-2"
              href="https://id-ransomware.malwarehunterteam.com/"
              ><i class="fa fa-angle-right mr-2"></i>ID Ransomware</a
            >
            <a
              class="text-white-50 mb-2"
              href="https://latam.kaspersky.com/home-security?reseller=es-LA_bb2023_pro_ona_sem_bra_onl_b2c_goo_ppc-ad_______&utm_content=bb2023|generic&utm_id=bi_cmp-298177336_adg-1294125578123615_ad-80882956982290_kwd-80883071480946:loc-43_dev-c_ext-_prd-_sig-3ecd079b75db1311a69063bc2306550b&utm_source=google&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-%20SP%20-%20B-EXA-KW&msclkid=3ecd079b75db1311a69063bc2306550b&utm_source=bing&utm_medium=cpc&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-
         %20SP%20-%20B-EXA-KW&utm_term=kaspersky&utm_content=kaspersky"
              ><i class="fa fa-angle-right mr-2"></i>kaspersky</a
            >
            <a class="text-white-50 mb-2" href="https://www.emsisoft.com/en/"
              ><i class="fa fa-angle-right mr-2"></i>emsisoft</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Packages</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contactanos
          </h5>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Pasto, Colombia</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 311 345 6789</p>
          <p><i class="fa fa-envelope mr-2"></i>ransomare@gmail.com</p>
        </div>
      </div>
    </div>
    <div
      class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
      style="border-color: rgba(256, 256, 256, 0.1) !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0"></div>
        <div class="col-lg-6 text-center text-md-right"></div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Link del Boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
