{% extends 'azul/index.html' %} {% block content %}

<div class="container">
  <div class="row">
    <h1 class="display-3 text-center  mt-4">
      Desconectarse de Internet
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class=" fs-3 text-end mt-4">
      La forma más fácil de desconectar una computadora de Internet es
      desconectar el cable Ethernet de la placa base, sin embargo, algunos
      dispositivos están conectados a través de una red inalámbrica y para
      algunos usuarios (especialmente aquellos que no son particularmente
      expertos en tecnología), desconectar los cables puede parecer molesto. Por
      lo tanto, también puede desconectar el sistema manualmente a través del
      Panel de Control:
    </p>
  </div>
</div>
<!-- Para windows 11 -->
<div class="container">
  <div class="row mt-4">
    <h2 class=" text-center">En windows 11:</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">Navegue hasta el "Panel de Control":</p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/1windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Panel de control.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">Haga clic en la opción“Redes e Internet”:</p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/2windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Panel de control.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">
          Haga clic en la opción “centro de redes y recursos compartidos”:
        </p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/3windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Redes e Internet.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">
          Haga clic en la opción "Cambiar la configuración del adaptador" en la
          esquina superior izquierda de la ventana:
        </p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/4windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Centro de redes y recursos compartidos.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">Haga clic derecho en un punto de conexión:</p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/5windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Conexiones de red.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-success">
        <p class="fs-5 mt-3">
          Seleccione “Desactivar”. Una vez desactivado, el sistema ya no estará
          conectado a internet. Se deben deshabilitar todos los dispositivos de
          red. Para volver a habilitar los puntos de conexión, simplemente haga
          clic derecho nuevamente y seleccione "Habilitar":
        </p>
        <div class="m-2">
          <img class="img-fluid" src="/media/paso1/6windows11.webp" />
        </div>
        <h5 class="p-2">Windows 11/Conexiones de red.</h5>
      </div>
    </div>
  </div>
</div>
<!-- Aqui va la desconexion de internet -->
<div class="container">
  <div class="row mt-4">
    <h2 class=" text-center">Desconectar internet en Windows 10</h2>
    <p class=" text-start mt-2 fs-5">
      Aquí se explica paso a paso como desconectar el equipo pc o portátil de la
      red sin necesidad de apagar el router.
    </p>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <h2 class=" text-center">En windows 10:</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-dark">
        <p class="fs-5 mt-3">
          En primer lugar nos vamos a Inicio – Configuración:
        </p>
        <p class="fs-5 mt-3">Seguimos en Redes e Internet:</p>
        <div class="m-2">
          <img
            class="img-fluid"
            src="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_2-1024x795.jpg"
          />
        </div>
        <div class="p-2">
          Disponible en:
          <a
            href="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_2-1024x795.jpg"
            >https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_2-1024x795.jpg</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-dark">
        <p class="fs-5 mt-3">Haga clic en Ethernet:</p>
        <p class="fs-5 mt-3">Seguimos en Redes e Internet:</p>
        <div class="m-2">
          <img
            class="img-fluid"
            src="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_3-1024x799.jpg"
          />
        </div>
        <div class="p-2">
          Disponible en:
          <a
            href="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_3-1024x799.jpg"
            >https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_3-1024x799.jpg</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-dark">
        <p class="fs-5 mt-3">Clic en Cambiar Opciones del Adaptador</p>
        <div class="m-2">
          <img
            class="img-fluid"
            src="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_4-1024x794.jpg"
          />
        </div>
        <div class="p-2">
          Disponible en:
          <a
            href="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_4-1024x794.jpg"
            >https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_4-1024x794.jpg</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="mt-4">
      <div class=" text-center border border-dark">
        <p class="fs-5 mt-3">
          Con el botón derecho seleccionamos el medio de conexión a internet
          (Wifi o Ethernet) y le damos a desactivar
        </p>
        <div class="m-2">
          <img
            class="img-fluid"
            src="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_5-1024x462.jpg"
          />
        </div>
        <div class="p-2">
          Disponible en:
          <a
            href="https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_5-1024x462.jpg"
            >https://fransoler.net/wp-content/uploads/2019/11/tutorial-windows_5-1024x462.jpg</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="d-grid gap-2 col-3 mx-auto text-cente m-4">
      <a
        class="btn btn-secondary btn-lg"
        role="button"
        href="{% url 'encryption1' %}"
        >Volver</a
      >
    </div>
  </div>
</div>

{% endblock %}
