{% extends 'azul/index.html' %} {% block content %}

<div class="container">
  <div class="row text-center">
    <h1 class="display-3 mt-5">Método de Desinfección para GoldenEye</h1>
    <p class="mt-4 fst-italic fw-semibold fs-5">
      GoldenEye es una combinación de los virus secuestradores Petya y MISCHA.
      Como en Petya y MISCHA, GoldenEye se distribuye a través de correos
      electrónico basura (spam). En este e-mail, se envía una falsa oferta de
      trabajo con texto en alemán y dos archivos adjuntos. Uno de ellos es un
      currículum falso; el otro, un archivo malicioso de Microsoft Excel. Si se
      abre el archivo Excel, aparece una ventana emergente para habilitar
      macros. Si el usuario habilita las macros, el archivo Excel generará un
      archivo ejecutable y ejecutará el virus encriptador.
    </p>
    <div class="p-3 mb-4 col-6 mx-auto">
      <img src="/media/paso2/golden1.webp" alt="" class="img-fluid" />
    </div>
    <h5 class="mt-3">GoldenEye solicitando permisos</h5>
    <div class="p-3 mb-4">
      <img src="/media/paso2/golden2.webp" alt="" class="img-fluid" />
    </div>
    <h5 class="mt-3">Solicita instalar cambios.</h5>
    <div class="p-3 mb-4">
      <img src="/media/paso2/golden3.webp" alt="" class="img-fluid" />
    </div>
    <h5 class="mt-3">Captura de pantalla GoldenEye</h5>
    <div class="p-3 mb-4">
      <img src="/media/paso2/golden4.webp" alt="" class="img-fluid" />
    </div>
    <div class="mt-4 pt-3 pb-3">
      <h1 class="display-6">PASOS PARA DESINFECCION DE GOLDENEYE</h1>
      <h4 class="pt-4">1. Informar a las autoridades</h4>
      <p>
        Se recomienda que informe de este incidente a las autoridades. Al
        proporcionar información a los organismos encargados de hacer cumplir la
        ley, ayudará a rastrear los delitos cibernéticos y potencialmente
        ayudará en el enjuiciamiento de los atacantes. Aquí hay una lista de
        autoridades a las que debe informar sobre un ataque de ransomware.
      </p>
      <h4 class="pt-3">2.Aislar el dispositivo infectado</h4>
      <p>
        Algunos ransomware estan diseñados para encriptar archivos dentro de
        dipositos de almacenamiento externos y extenderse por toda la red local.
        Por esta razón es muy importante aislar el dispositivo infectado
        (computadora) lo antes posible. Para esto se recomienda lo siguiente:
      </p>
      <p class="text-decoration-underline">Desconectar de Internet</p>
      <p class="text-decoration-underline">
        Desconecte todos los dispositivos de almacenamiento
      </p>
      <p class="text-decoration-underline">
        Cierre la sesión de las cuentas de almacenamiento en la nube
      </p>
    </div>
    <h1 class="display-4 mt-5">1. Desconectarse de Internet</h1>
    <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
      La forma mas facil para desconectar una computadora de internet es
      desconectando el cable Ethernet, y desconectando el sistema de conección
      inalambrico o wifi. Para desconectar el sistema a travez del panel de
      control se deben seguir los siguientes pasos:
    </p>
    <div class="border border-success p-3 mb-4 mt-3">
      <h5>
        Navegue hasta el panel de control, haga click en barra de busqueda y
        escriba 'Centro de redes y recursos compartidos'
      </h5>
      <img src="/media/paso2/badRabbit4.webp" alt="" class="img-fluid" />
    </div>
    <div class="border border-success p-3 mb-4">
      <h5>
        Haga click en 'Cambiar la configuración del adaptador' en la ezquina
        superior izquierda de la ventana
      </h5>
      <img src="/media/paso2/badRabbit5.webp" alt="" class="img-fluid" />
    </div>
    <div class="border border-success p-3 mb-4">
      <h5>
        Haga click con el botón derecho en cada punto de conexión y seleccione
        'Desactivar'.
      </h5>
      <img src="/media/paso2/badRabbit6.webp" alt="" class="img-fluid" />
    </div>
    <h1 class="mt-5 display-4">
      2. Desconecte todos los dispositivos de almacenamiento.
    </h1>
    <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
      Se recomienda desconectar todos los dispositivos externos de
      almacenamiento como unidades Flash, discos duros portatilies, etc. Pero se
      recomienda hacerlo expulsando los dispositivos del sistema para evitar
      corrupción de datos asi:
    </p>
    <div class="border border-success p-3">
      <img src="/media/paso2/badRabbit7.webp" alt="" class="img-fluid" />
    </div>
    <h1 class="mt-5 display-4">
      3. Cierre la sesión de las cuentas de almacenamiento en la nube
    </h1>
    <div class="col-10 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        El ransomware puede secuestrar el software que maneja los datos
        almacenados en la nube por lo tanto pueden estar corruptos. Por esta
        razón se debe cerrar la sesión de todas las cuentas de almacenamiento en
        la nube dentro del navegador y otros software relacionados y se debe
        desinstalar el software de administracion de la nube hasta que pase la
        infección.
      </p>
    </div>
    <h2 class="mt-5">Identificación del Ransomware</h2>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Para manejar adecuadamente una infeccion primero hay que identificarla.
        Para esto se debe usar el mismo mensaje de solicitud de rescate como se
        ve en el ejemplo siguiente:
      </p>
    </div>
    <div class="border border-success p-4">
      <img src="/media/paso2/badRabbit8.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        En el ejemplo anterior se puede observar que el mensaje de infección
        proporciona informacion sobre que tipo de ransomware es que esta
        involucrado. Una de las maneras mas recomendadas es usar sitios web
        donde se ingresan los archivos encriptados y se optiene la extención.
      </p>
    </div>
    <div class="border border-success p-3">
      <h4>
        Otra forma para identificar la infección es con la extensión de los
        archivos
      </h4>
      <img src="/media/paso2/ryuk3.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Una de las formas más fáciles y rápidas de identificar una infección de
        ransomware es utilizar el sitio web ID Ransomware. Este servicio es
        compatible con la mayoría de las infecciones de ransomware existentes.
        Las víctimas simplemente cargan un mensaje de rescate y/o un archivo
        encriptado (le recomendamos que cargue ambos si es posible).
      </p>
    </div>
    <div class="border border-success p-3 mt-3">
      <img src="/media/paso2/badRabbit9.webp" alt="" class="img-fluid" />
    </div>
    <div class="mt-2">
      <p>Disponible en el siguiente boton</p>
      <a
        role="button"
        class="btn btn-success"
        href="https://id-ransomware.malwarehunterteam.com"
        >Visitar sitio</a
      >
    </div>
    <h2 class="mt-4">
      Búsqueda de herramientas de desencriptado de ransomware
    </h2>
    <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
      Existen muchas paginas para buscar la herramienta de desencriptado
      adecuada pero la mas recomendada es el PROYECTO NO MORE RANSOMWARE el cual
      las proporciona.
    </p>
    <div class="border border-success p-3">
      <img src="/media/paso2/badRabbit11.webp" alt="" class="img-fluid" />
    </div>
    <h1 class="display-4 mt-5">
      Restaurar archivos con herramientas de recuperación de datos
    </h1>
    <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
      Dependiendo de la situación (calidad de la infección de ransomware, tipo
      de algoritmo de encriptado utilizado, etc.), es posible que sea posible
      restaurar los datos con ciertas herramientas de terceros. Por lo tanto, le
      recomendamos que utilice la herramienta Recuva desarrollada por CCleaner.
      Esta herramienta admite más de mil tipos de datos (gráficos, video, audio,
      documentos, etc.) y es muy intuitiva (se necesitan pocos conocimientos
      para recuperar datos). Además, la función de recuperación es completamente
      gratuita.
    </p>
    <h1 class="mb-4">Pasos para restaurar archivos</h1>
    <div class="border border-success col-4 mx-auto p-4">
      <p>
        Para realizar este pasto se recomienda instalar la aplicacion RECUVA
        desarrollada por Ccleaner
      </p>
      <a
        href="https://www.ccleaner.com/es-es/recuva"
        role="button"
        class="btn btn-success"
        >Descargar</a
      >
    </div>
    <h2 class="mt-4">Realizar un escaneo</h2>
    <div class="col-10 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Ejecute la aplicación Recuva y siga el asistente. Se le mostrarán varias
        ventanas que le permitirán elegir qué tipo de archivo buscar, qué
        ubicaciones se deben escanear, etc. Todo lo que necesita hacer es
        seleccionar las opciones que está buscando e iniciar el escaneo. Le
        recomendamos que habilite el "Análisis Profundo" ("Deep Scan") antes de
        comenzar, de lo contrario, las capacidades de análisis de la aplicación
        estarán restringidas.
      </p>
    </div>
    <div class="border border-success p-3 mb-4">
      <img src="/media/paso2/badRabbit12.webp" alt="" class="img-fluid" />
    </div>
    <div class="border border-success p-3">
      <img src="/media/paso2/badRabbit13.webp" alt="" class="img-fluid" />
    </div>
    <h2 class="mt-4">Recuperar Datos</h2>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Una vez que se complete el proceso, seleccione las carpetas/archivos que
        desea restaurar y simplemente haga clic en "Recuperar". Tenga en cuenta
        que se necesita algo de espacio libre en su unidad de almacenamiento
        para restaurar los datos:
      </p>
    </div>
    <div class="border border-success p-3 mb-4">
      <img src="/media/paso2/badRabbit14.webp" alt="" class="img-fluid" />
    </div>
    <h2 class="mt-4">Crear copias de seguridad de datos</h2>
    <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
      Elija los archivos/carpetas que desea respaldar.
    </p>
    <div class="border border-success p-3 mb-4">
      <img src="/media/paso2/badRabbit15.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-6 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Haga clic en el icono de la nube de OneDrive para abrir el menú de
        OneDrive. Mientras está en este menú, puede personalizar la
        configuración de la copia de seguridad de sus archivos.
      </p>
    </div>
    <div class="border border-success p-3 mb-4">
      <img src="/media/paso2/badRabbit16.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-6 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Haga clic en Ayuda y Configuración y luego seleccione Configuración en
        el menú desplegable.
      </p>
    </div>
    <div class="border border-dark p-3 mb-4">
      <img src="/media/paso2/badRabbit17.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-6 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        Vaya a la pestaña Copia de Seguridad y haga clic en Administrar Copia de
        Seguridad.
      </p>
    </div>
    <div class="border border-dark p-3 mb-4">
      <img src="/media/paso2/badRabbit18.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        En este menú, puede optar por hacer una copia de seguridad del
        Escritorio y de todos los archivos que contiene, y de las carpetas
        Documentos e Imágenes, nuevamente, con todos los archivos en ellos. Haga
        clic en Iniciar copia de seguridad.
      </p>
    </div>
    <h2>Restaura los archivos dañados.</h2>
    <div class="col-10 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        OneDrive se asegura de que los archivos permanezcan sincronizados, por
        lo que la versión del archivo en la computadora es la misma versión en
        la nube. Sin embargo, si el ransomware ha encriptado sus archivos, puede
        aprovechar la función de historial de versiones de OneDrive que le
        permitirá restaurar las versiones de los archivos antes del encriptado.
      </p>
    </div>
    <div class="border border-dark p-3 mb-4">
      <img src="/media/paso2/badRabbit18.webp" alt="" class="img-fluid" />
    </div>
    <div class="col-8 mx-auto">
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        1. Si ha iniciado sesión con una cuenta personal, haga clic en el
        engranaje de Configuración en la parte superior de la página. Luego,
        haga clic en Opciones y seleccione Restaurar su OneDrive.
      </p>
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        2. En la página Restaurar su OneDrive, seleccione una fecha de la lista
        desplegable. Tenga en cuenta que si está restaurando sus archivos
        después de la detección automática de ransomware, se seleccionará una
        fecha de restauración.
      </p>
      <p class="fst-italic fw-semibold fs-5 mt-4 mb-4">
        3. Después de configurar todas las opciones de restauración de archivos,
        haga clic en Restaurar para deshacer todas las actividades que
        seleccionó.
      </p>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-success btn-lg"
          role="button"
          href="{% url 'encuesta' %}"
          >Siguiente</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-secondary btn-lg"
          role="button"
          href="{% url 'encryption8' %}"
          >Volver</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
