{% extends 'azul/index.html' %} {% block content %}

<!-- Método de decifrado para Wannacry -->

<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="display-3 mt-2">Métodos de desinfección Wannacry</h1>
      <h1 class="mt-4 fst-italic">Descifrador Emsisoft para Syrk</h1>
      <div class="mt-4">
        <p class="fst-italic fw-semibold fs-5">
          Asegúrese de poner en cuarentena el malware de su sistema primero, o
          puede bloquearse repetidamente su sistema o cifrar archivos. Si su
          solución antivirus actual no detecta el malware, puede ponerse en
          cuarentena con la versión de prueba gratuita de Emsisoft Anti-Malware.
          Si su sistema fuera comprometido a través de la función de escritorio
          remoto de Windows, también recomendamos cambiar todas las contraseñas
          de todos los usuarios que pueden iniciar sesión de forma remota y
          verificar las cuentas de usuario locales para las cuentas adicionales
          que el atacante podría haber agregado.
        </p>
      </div>
      <h1 class="fst-italic mt-3 mb-2">¿Cómo desencriptar sus archivos ?</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-2 p-2">
      <p class="fst-italic fs-4">1. Descargar el desencriptador</p>
      <div class="col-4 mx-auto">
        <table class="table table-striped table-secondary mt-4">
          <thead>
            <tr>
              <th scope="col" class="fst-italic">EMISISOFT</th>
              <th scope="col" class="fst-italic">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAlFJREFUSEu9l/1xFDEMxX+qADpIOuDSwV0lHB3QQS4d0AFHJZdUkNABdAAVmLHXXytL3s0/7GQms45XT096enaE/AgQyst/+C0Qf0JDVRksr/3iuFLzrNsmexrR+SYVy6yFmZyEFR/94cK4FnksuNmCPVXpq2ikq4Dp8pgk4QnCTMgWTNyanj3MuhBH4JbfT8DzOvyuHs8l7IRowMJJAs9lIkxNGIuV8eYErUtyFLglMOFE0Iy3ydRx8rTgSM8otarNxBjinyaMJwqScCTMeuwxbp5hAnsD1nFyxbVXpJvAjmNkxgnmJGRxbY5T27AAm66peFcRpPXMWAGP3umqrAe+D3CX83gZDgwhsgx54g8C3/Ker8Bbh/AyGEP9lt/ALy2uC8hjts/RSiWcCXy3jKJb+wJcDTsqPJ6ASzGs8l1ceOyMzCrTFfhsGH4sxQ+EmFy1wq47qVbACCxwCS7wakZjWT8p8J/AwUkoLud05AmCz3jRWg+2kuvH2CfgQwb6C9wDf2zg9G3IESalbnhdnMGVDgRe84aHXlyOt7ceC5cs0cpm6bEJbE7FOc/hdcedaYe4euCa0+hlnrs5g2sB94z7cepDuP12cIbW+KrO81XGKSmvPaMXmqeZWaEUpcQzxXUEub3vxllHdmyz6dvyACG5nDok5IyEqLpknWWDYZ/N4DxlrdlHq4ysowHVuM6Fy2mfu+wMkn2bMy4C6qSqOKp0EwXsyrieTjtm0dXamJyXZauK6rHisfHfQOnRfKbVKOaYE2AlLhV9GadJ/UcOq6L+A880BTOi7oLQAAAAAElFTkSuQmCC"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="row">
                  <div class="col">
                    <p class="fw-semibold fst-italic">
                      Deste este boton se puede descargar el programa EMISISOFT
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-4">
                    <div class="d-grid gap-2">
                      <a
                        class="btn btn-success btn-sm"
                        role="button"
                        href="https://www.emsisoft.com/ransomware-decryption/syrk/"
                        >Descargar</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-4 p-2">
      <p class="fst-italic fs-4">
        2. Iniciar el desencriptador como administrador aceptar la licencia
      </p>
      <img src="/media/paso2/Wanna1.webp" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-4 p-2">
      <p class="fst-italic fs-4">
        3. Una vez que se aceptan los términos de la licencia, se abre la
        interfaz de usuario del descifrador principal:
      </p>
      <img src="/media/paso2/Wanna2.webp" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-4 p-4">
      <p class="fst-italic fs-4">
        4. De forma predeterminada, el descifrador eligió las unidades locales y
        de red, se pueden elegir nuevas con el botón agregar.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-4 p-2">
      <p class="fst-italic fs-4">
        5. Los descifradores suelen ofrecer varias opciones según la familia de
        malware en particular. Las opciones disponibles se encuentran en la
        pestaña Opciones y se pueden habilitar o deshabilitar allí. Puedes
        Encontrar una lista detallada de las opciones disponibles a
        continuación.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center border border-success mt-4 p-2 mb-4">
      <p class="fst-italic fs-4">
        6. Después de haber agregado todas las ubicaciones que desea descifrar a
        la lista, haga clic en el botón "Descifrar" para iniciar el proceso de
        descifrado. La pantalla cambiará a una vista de estado, informando sobre
        el proceso actual y el estado de descifrado de sus archivos:
      </p>
      <img src="/media/paso2/Wanna3.webp" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-success btn-lg"
          role="button"
          href="{% url 'encuesta' %}"
          >Siguiente</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-grid gap-2 col-3 mx-auto text-center">
        <a
          class="btn btn-secondary btn-lg"
          role="button"
          href="{% url 'encryption8' %}"
          >Volver</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
