{% extends 'azul/index.html' %} {% block content %}
<!-- 
    Divicion cuando usuario inicia sesión (Django)
 -->
<header class="freyder">
  <div class="container__header">
    <div class="logo">
      <img src="" alt="" />
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="#">prueba espacio</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="">
  <div>
    <h2 class="estilo1">Metodologia Feed</h2>
  </div>
  <h1 class="estilo1">Paso a paso</h1>
  <h1 class="estilo1">Herramientas</h1>
</div>

{% endblock %}
