<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Inicio</title>
  </head>
  <body class="cuerpo">
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'feed' %}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'step1' %}">Metodología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!--TODO: Programación del Body -->

    <main>
      <!--INICIO-->
      <!--Portada de inicio-->

      <!-- Carousel Start -->
      <div class="container-fluid p-0" style="background-color: white">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="w-100 p-5"
                style="max-height: 900px"
                src="https://live.staticflickr.com/65535/52874158015_2324cb4e86_c.jpg"
                alt="Image"
              />
              <div
                class="carousel-caption d-flex flex-column align-items-center justify-content-center"
              >
                <div class="p-3" style="max-width: 900px">
                  <h4 class="text-white text-uppercase mb-md-3">
                    BIENVENIDOS A NUSTRA PÁGINA DE CAPACITACIÓN CONTRA
                    RANSOMWARE
                  </h4>
                  <h1 class="display-3 text-white mb-md-5">
                    CONOCE NUESTRA DOCUMENTACIÓN
                  </h1>
                  <a
                    href="{% url 'method' %}"
                    class="btn btn-primary py-md-3 px-md-5 mt-1 mb-4"
                    >IR A DOCUMENTACIÓN</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End -->

      <!-- Feature Start -->
      <div class="container-fluid pb-5" style="background-color: white">
        <div class="container pb-5">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex mb-4 mb-lg-0">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                  style="height: 120px; width: 120px"
                >
                  <img
                    class="fa fa-2x fa-award text-white"
                    src="https://live.staticflickr.com/65535/52873296567_3f83b19808_t.jpg"
                  />
                </div>
                <div class="d-flex flex-column">
                  <h5 class="m-4">Phishing</h5>
                  <p class="m-4">Consultar mas sobre phishing</p>
                </div>
              </div>
              <a
                href="{% url 'phishing' %}"
                class="m-5 btn btn-primary py-md-3 px-md-5 mt-5 mb-4"
                >Ir a Phishing</a
              >
            </div>
            <div class="col-md-4">
              <div class="d-flex mb-4 mb-lg-0">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                  style="height: 120px; width: 120px"
                >
                  <img
                    class="fa fa-2x fa-award text-white"
                    src="https://live.staticflickr.com/65535/52873874316_0be2339dba_t.jpg"
                  />
                </div>
                <div class="d-flex flex-column">
                  <h5 class="m-4">Ingeniería Social</h5>
                  <p class="m-4">Consultar Ingeniería Social</p>
                </div>
              </div>
              <a
                href="{% url 'capacitacion' %}"
                class="m-5 btn btn-primary py-md-3 px-md-5 mt-5 mb-4"
                >Ir a Ingeniería Social</a
              >
            </div>
            <div class="col-md-4">
              <div class="d-flex mb-4 mb-lg-0">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                  style="height: 120px; width: 120px"
                >
                  <img
                    class="fa fa-2x fa-award text-white"
                    src="https://live.staticflickr.com/65535/52874255855_dbfe79a61c_t.jpg"
                  />
                </div>
                <div class="d-flex flex-column">
                  <h5 class="m-4">Ransomware</h5>
                  <p class="m-4">Consultar sobre ransomare</p>
                </div>
              </div>
              <a
                href="{% url 'ransomware' %}"
                class="m-5 btn btn-primary py-md-3 px-md-5 mt-5 mb-4"
                >Ir a Ransomare</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Feature End -->

      <!-- About Start -->
      <div class="container-fluid py-5">
        <div class="container pt-5">
          <div class="row">
            <div class="col-lg-6" style="min-height: 500px">
              <div class="position-relative h-100">
                <img
                  class="position-absolute w-100 h-100"
                  src="https://live.staticflickr.com/65535/52874289940_43671484f5_o.jpg"
                  style="object-fit: cover"
                />
              </div>
              Avalible en:
              https://live.staticflickr.com/65535/52869259618_f2de148214_b.jpg
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
              <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                <h6
                  class="text-primary text-uppercase"
                  style="letter-spacing: 5px"
                >
                  METODOLOGÍA RANSOMWARE
                </h6>
                <h1 class="mb-3">
                  Conoce nuestra metodologia creada para capacitarte
                </h1>
                <p>
                  La finalidad de nuestra metodología es llegar al mayor número
                  de usuarios para instruirlos de forma fácil y práctica.
                </p>
                <div class="row mb-4">
                  <div class="col-6">
                    <img class="img-fluid" src="img/about-1.jpg" alt="" />
                  </div>
                </div>
                <a href="{% url 'step1' %}" class="btn btn-primary mt-1"
                  >Informate más</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- INGENIERIA SOCIAL End -->

      <!-- Destination Start -->
      <div class="container-fluid py-5" style="background-color: white">
        <div class="container pt-5 pb-3">
          <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
              HERRAMIENTAS CONTRA RANSOMWARE
            </h6>
            <h1>
              Esta sección contiene algunas herramientas contra ransomware
            </h1>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="280px"
                  height="280px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52874255855_dbfe79a61c_n.jpg"
                  alt=""
                />
                <a class="btn btn-primary" href="{% url 'ryuk'  %}">
                  <h5 class="text-white m-4 ms-5">Herramienta contra RIUK</h5>
                  <span></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="300px"
                  height="300px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52873960101_30b6f1e3bd_o.png"
                />
                <a class="btn btn-primary" href="{% url 'wanna1'  %}">
                  <h5 class="text-white m-4 ms-5">
                    Herramienta contra WANNACRY
                  </h5>
                  <span></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="280px"
                  height="280px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52874406823_2a5309999c_o.jpg"
                />
                <a class="btn btn-primary" href="{% url 'badRabbit'  %}">
                  <h5 class="text-white m-4 ms-5">Herramienta Bad Rabbit</h5>
                  <span></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="300px"
                  height="300px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52874140589_6164d6f0d7_o.jpg"
                />
                <a class="btn btn-primary" href="{% url 'jigsaw'  %}">
                  <h5 class="text-white m-4 ms-5">Herramienta para Jigsaw</h5>
                  <span></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="275px"
                  height="275px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52873975751_8cd1dd8bec_o.jpg"
                />
                <a class="btn btn-primary" href="{% url 'petya'  %}">
                  <h5 class="text-white m-4 ms-5">Herramienta para Petya</h5>
                  <span></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div
                class="destination-item position-relative overflow-hidden mb-2"
              >
                <img
                  width="255px"
                  height="255px"
                  class="img-fluid"
                  src="https://live.staticflickr.com/65535/52874359335_39ce8f606e_o.png"
                />
                <a class="btn btn-primary" href="{% url 'tools'  %}">
                  <h5 class="text-white m-4 ms-5">Herramienta contra Locky</h5>
                  <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Destination Start -->

      <!--construccion Capacitacion banner-->

      <!--construccion Metodologia banner-->

      <!--construccion Herramienta banner-->

      <!--SECCION DE VIDEOS-->

      <div class="containder-fluid">
        <div class="tituloI">
          <h1>Información multimedia</h1>
        </div>
        <div class="container-fluid video1">
          <dialog id="ms">
            <iframe
              width="100%"
              height="90%"
              src="https://www.youtube.com/embed/JXDUKotmsWQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <button id="close" onclick="document.getElementById('ms').close()">
              Cerrar!
            </button>
          </dialog>
          <p>Saber mas sobre Ciberseguridad</p>
          <button
            class="bg-primary"
            id="show"
            onclick="document.getElementById('ms').showModal()"
          >
            Mostrar
          </button>
        </div>

        <div class="video2">
          <dialog id="ms1">
            <iframe
              width="100%"
              height="90%"
              src="https://www.youtube.com/embed/_sVObRVfoms"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <button id="close" onclick="document.getElementById('ms1').close()">
              Cerrar!
            </button>
          </dialog>
          <p>Que es un ataque DDos??????? ......</p>
          <button
            class="bg-primary"
            id="show"
            onclick="document.getElementById('ms1').showModal()"
          >
            Mostrar
          </button>
        </div>

        <div class="video3">
          <dialog id="ms2">
            <iframe
              width="100%"
              height="90%"
              src="https://www.youtube.com/embed/wRicjp13sr4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <button id="close" onclick="document.getElementById('ms2').close()">
              Cerrar!
            </button>
          </dialog>
          <p>Historia y evolución del Ransomware</p>
          <button
            class="bg-primary"
            id="show"
            onclick="document.getElementById('ms2').showModal()"
          >
            Mostrar
          </button>
        </div>
      </div>

      <!--SECCION FOOTER-->
      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-white-50">
        <div class="row pt-5">
          <div class="col-lg-3 col-md-6 mb-5">
            <a href="{% url 'step1' %}" class="navbar-brand">
              <h1 class="text-primary">
                <span class="text-white">METODO</span>LOGÍA
              </h1>
            </a>
            <p>
              Metodología creada para capacitar a empresas para hacerle frente a
              infecciones ransomware
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5
              class="text-white text-uppercase mb-4"
              style="letter-spacing: 5px"
            >
              Nuestros Servicios
            </h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-2" href="{% url 'feed' %}"
                ><i class="fa fa-angle-right mr-2"></i>Inicio</a
              >
              <a class="text-white-50 mb-2" href="{% url 'method' %}"
                ><i class="fa fa-angle-right mr-2"></i>Documentación</a
              >
              <a class="text-white-50 mb-2" href="{% url 'train' %}"
                ><i class="fa fa-angle-right mr-2"></i>Capacitacion</a
              >
              <a class="text-white-50 mb-2" href="{% url 'step1' %}"
                ><i class="fa fa-angle-right mr-2"></i>Metodología</a
              >
              <a class="text-white-50 mb-2" href="{% url 'encryption8' %}"
                ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5
              class="text-white text-uppercase mb-4"
              style="letter-spacing: 5px"
            >
              links funcionales
            </h5>
            <div class="d-flex flex-column justify-content-start">
              <a
                class="text-white-50 mb-2"
                href="https://id-ransomware.malwarehunterteam.com/"
                ><i class="fa fa-angle-right mr-2"></i>ID Ransomware</a
              >
              <a
                class="text-white-50 mb-2"
                href="https://latam.kaspersky.com/home-security?reseller=es-LA_bb2023_pro_ona_sem_bra_onl_b2c_goo_ppc-ad_______&utm_content=bb2023|generic&utm_id=bi_cmp-298177336_adg-1294125578123615_ad-80882956982290_kwd-80883071480946:loc-43_dev-c_ext-_prd-_sig-3ecd079b75db1311a69063bc2306550b&utm_source=google&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-%20SP%20-%20B-EXA-KW&msclkid=3ecd079b75db1311a69063bc2306550b&utm_source=bing&utm_medium=cpc&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-
         %20SP%20-%20B-EXA-KW&utm_term=kaspersky&utm_content=kaspersky"
                ><i class="fa fa-angle-right mr-2"></i>kaspersky</a
              >
              <a class="text-white-50 mb-2" href="https://www.emsisoft.com/en/"
                ><i class="fa fa-angle-right mr-2"></i>emsisoft</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5
              class="text-white text-uppercase mb-4"
              style="letter-spacing: 5px"
            >
              Contactanos
            </h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Pasto, Colombia</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+57 311 340 2393/p></p>
            <p><i class="fa fa-envelope mr-2"></i>freurbano@gmail.com</p>
          </div>
        </div>
      </div>
      <div
        class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
        style="border-color: rgba(256, 256, 256, 0.1) !important"
      >
        <div class="row">
          <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0"></div>
          <div class="col-lg-6 text-center text-md-right"></div>
        </div>
      </div>
      <!-- Footer End -->
    </main>

    <!--*** Link del Javascript del Boostrap ***-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
