{% extends 'azul/index.html' %} {% block content %}
<!-- 
    Divicion cuando usuario inicia sesión (Django)
 -->
<main>
  <!--INICIO-->
  <!--Portada de inicio-->
  <div class="container__cover">
    <div class="cover">
      <section class="text__cover">
        <h1>METODOLOGIA CONTRA RANSOMWARE</h1>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepto teur sint occae cat cupidatat
          non proident.
        </p>
        <a href="#" class="btn__text-cover btn__text">Empezar</a>
      </section>
      <section class="image__cover">
        <img src="/media/ma.png" alt="" />
      </section>
    </div>
  </div>

  <div class="containerCapacitacion">
    <h1 class="estilo1">Capacitacion</h1>
  </div>
  <div class="containerMetodologia">
    <h1 class="estilo1">Metodologia PASO A PASO</h1>
  </div>
  <div class="containerPaso">
    <h1 class="estilo1">EVALUACIONES</h1>
  </div>
  <div class="containerHerramienta">
    <h1 class="estilo1">Herramientas</h1>
  </div>
</main>
{% endblock %}
