<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style3.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/pasos.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" href="https://live.staticflickr.com/65535/52894931347_26cb3a54f9_o.png">
    <title>Metodología</title>
  </head>
  <body class="bodys">
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
                  >Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'step1' %}"
                  >Metodología</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!--
      !:  Programación del Body de la parte iterativa
    -->
    <div class="container containerTexto">
      <h1>Click en la imagen para iniciar</h1>
    </div>
    <div class="container containerImagenes">
      <img
        src="https://live.staticflickr.com/65535/52896395285_7f337f685e_o.png"
        alt=""
        class="img-fluid"
        id="imgPC1"
      />
      <a href="{% url 'ejecucionPC' %}">
        <img
          src="https://live.staticflickr.com/65535/52896048326_b2c810054a_o.png"
          alt=""
          class="img-fluid"
          id="imgPC2"
        />
      </a>
    </div>
    <!--
    !-- En esta parte va el paso a paso pero documentado 
    -->
    <br />
    <div class="titulo__pasosM">
      <h1>PASOS METODOLOGÍA</h1>
      <p>Sigue los siguientes pasos de forma fácil accediendo a cada boton</p>
    </div>

    <div class="container text-center">
      <div class="row pb-2 bg-light shadow pt-2">
        <div class="col">
          <button class="btn btn-primary btn-lg m-4" onclick="mostrarPaso1()">
            paso 1 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg m-4" onclick="mostrarPaso2()">
            paso 2 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg m-4" onclick="mostrarPaso3()">
            paso 3 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg m-4" onclick="mostrarPaso4()">
            paso 4 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg m-4" onclick="mostrarPaso5()">
            paso 5 Metodología
          </button>
        </div>
      </div>
    </div>

    <div class="container container__pasos">
      <!--ventana paso 1-->
      <div class="pasos__card">
        <div id="div__paso1" class="container bg-light shadow">
          <h1>PASO 1 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Cierre de escena de infección</p>
            <h4>
              El cierre de la escena de infección es fundamental para preservar
              todos los posibles pistas y para hacer inventario de todos los
              artefactos afectados.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 1</h3>
              </div>
              <div class="">
                <button
                  class="btn btn-primary btn-lg mx-2 shadow"
                  onclick="iframe1()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="vp1" class="container-fluid shadow">
          <div class="col">
            <iframe
              width="100%"
              height="500px"
              src="https://www.youtube.com/embed/puZZL3XCQOc"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp1"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe2()"
            >
              X
            </button>
          </div>
        </div>

        <!--ventana paso 2-->

        <div id="div__paso2" class="container bg-light shadow">
          <h1>PASO 2 METODOLOGÍA</h1>
          <div class="pasos">
            <p>No apagar el ordenador afectado</p>
            <h4>
              Este paso se debe realizar para preservar evidencias y pistas de
              los ciberdelicuentes.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 2</h3>
              </div>
              <div class="">
                <button
                  class="btn btn-primary btn-lg mx-2 shadow"
                  onclick="iframe3()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="vp2" class="container-fluid shadow">
          <div class="col">
            <iframe
              style="margin-top: 20px"
              width="100%"
              height="500px"
              src="https://www.youtube.com/embed/SOuKdviF1ss"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp2"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe4()"
            >
              X
            </button>
          </div>
        </div>

        <!--ventana paso 3-->

        <div id="div__paso3" class="container bg-light shadow">
          <h1>PASO 3 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Desconectar todas las conecciónes</p>
            <h4>
              Es vital desconectar el o los ordenadores afectados de toda
              conección ya sea alámbrica o inalámbrica.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 3</h3>
              </div>
              <div class="">
                <button
                  class="btn btn-primary btn-lg mx-2 shadow"
                  onclick="iframe5()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="vp3" class="container-fluid">
          <div class="col">
            <iframe
              style="margin-top: 20px"
              width="100%"
              height="500px"
              src="https://www.youtube.com/embed/yFfs90Sp_rw"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp3"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe6()"
            >
              X
            </button>
          </div>
        </div>

        <!--ventana paso 4-->

        <div id="div__paso4" class="container bg-light shadow">
          <h1>PASO 4 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Identificar qué ransomware infectó el sistema</p>
            <h4>
              La identificación del ransomware involucrado se realiza mediante
              el uso de herramientas que nos indican cual exactamente el
              malware.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 4</h3>
              </div>
              <div class="">
                <button
                  class="btn btn-primary btn-lg mx-2 shadow"
                  onclick="iframe7()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="vp4" class="container-fluid">
          <div class="col">
            <iframe
              style="margin-top: 20px"
              width="100%"
              height="500px"
              src="https://www.youtube.com/embed/pCSTWjKo1k8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp4"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe8()"
            >
              X
            </button>
          </div>
        </div>

        <!--ventana paso 5-->

        <div id="div__paso5" class="container bg-light shadow">
          <h1>PASO 5 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Ransomware de cifrado y bloqueo</p>
            <h4>
              Los ransomwares mas usados son de cifrado ya que son los mas
              efectivos a la hora de solicitar rescate a sus victimas.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 5</h3>
              </div>
              <div class="">
                <button
                  class="btn btn-primary btn-lg mx-2 shadow"
                  onclick="iframe9()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="vp5" class="container-fluid shadow">
          <div class="col">
            <iframe
              style="margin-top: 20px"
              width="100%"
              height="500px"
              src="https://www.youtube.com/embed/FkHslopeTNU"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp5"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe10()"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- VALIDACION START-->
    <div class="container-fluid py-5" style="background-color: rgb(25, 2, 94)">
      <div class="container pt-5" style="padding-bottom: 50px">
        <div class="row">
          <div class="col-lg-6 text-white" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100"
                src="https://live.staticflickr.com/65535/52879458806_1866510786_o.jpg"
                style="object-fit: cover"
              />
            </div>
            Avalible en:
            https://live.staticflickr.com/65535/52879458806_1866510786_o.jpg
          </div>
          <div class="col-lg-6 pt-5 pb-lg-5">
            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
              <h6
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              >
                VALIDACION METODOLOGÍA RANSOMWARE
              </h6>
              <h1 class="mb-3">
                Tu colaboración es fundamental para validar nuestra metodologia
              </h1>
              <p>
                Tu ayuda en la resolución de la siguiente encuenta es
                fundamental para la finalidad de la metodología creada.
              </p>
              <div class="row mb-4">
                <div class="col-6">
                  <img class="img-fluid" src="img/about-1.jpg" alt="" />
                </div>
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScdvjH_NFHfaU27kFuDmMWhREv08tigGm60AohZ6UcAyUDzpQ/viewform" class="btn btn-primary mt-1"
                >Encuesta Validación</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- VALIDACION END -->

    <!-- EVALUACION START -->
    <div
      class="container-fluid py-5"
      style="background-color: rgb(25, 2, 94); margin-top: 0.4px"
    >
      <div class="container pt-5" style="padding-bottom: 50px">
        <div class="row">
          <div class="col-lg-6 text-white" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100"
                src="https://live.staticflickr.com/65535/52879842230_c477a27fb2_o.png"
                style="object-fit: cover"
              />
            </div>
            Avalible en:
            https://live.staticflickr.com/65535/52879842230_c477a27fb2_o.png
          </div>
          <div class="col-lg-6 pt-5 pb-lg-5">
            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
              <h6
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              >
                ENCUESTA FINAL EVALUACIÓN DE SATISFACIÓN
              </h6>
              <h1 class="mb-3">Queremos saber cuanto aprendiste</h1>
              <p>
                Dejanos saber cuanto aprendiste dentro de nuestro sitio sobre
                seguridad informática.
              </p>
              <div class="row mb-4">
                <div class="col-6">
                  <img class="img-fluid" src="img/about-1.jpg" alt="" />
                </div>
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeY6fhjkWDBBG2auRKRLNlXZnverN9ZFAlQDCdNLkD19yIOSA/viewform" class="btn btn-primary mt-1"
                >Encuesta evaluación</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EVALUACION End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50" style="margin-top: 0px">
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="{% url 'step1' %}" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">METODO</span>LOGÍA
            </h1>
          </a>
          <p>
            Metodología creada para capacitar a empresas para hacerle frente a
            infecciones ransomware
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros Servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="{% url 'feed' %}"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="{% url 'method' %}"
              ><i class="fa fa-angle-right mr-2"></i>Documentación</a
            >
            <a class="text-white-50 mb-2" href="{% url 'train' %}"
              ><i class="fa fa-angle-right mr-2"></i>Capacitacion</a
            >
            <a class="text-white-50 mb-2" href="{% url 'step1' %}"
              ><i class="fa fa-angle-right mr-2"></i>Metodología</a
            >
            <a class="text-white-50 mb-2" href="{% url 'encryption8' %}"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            links funcionales
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a
              class="text-white-50 mb-2"
              href="https://id-ransomware.malwarehunterteam.com/"
              ><i class="fa fa-angle-right mr-2"></i>ID Ransomware</a
            >
            <a
              class="text-white-50 mb-2"
              href="https://latam.kaspersky.com/home-security?reseller=es-LA_bb2023_pro_ona_sem_bra_onl_b2c_goo_ppc-ad_______&utm_content=bb2023|generic&utm_id=bi_cmp-298177336_adg-1294125578123615_ad-80882956982290_kwd-80883071480946:loc-43_dev-c_ext-_prd-_sig-3ecd079b75db1311a69063bc2306550b&utm_source=google&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-%20SP%20-%20B-EXA-KW&msclkid=3ecd079b75db1311a69063bc2306550b&utm_source=bing&utm_medium=cpc&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-
            %20SP%20-%20B-EXA-KW&utm_term=kaspersky&utm_content=kaspersky"
              ><i class="fa fa-angle-right mr-2"></i>kaspersky</a
            >
            <a class="text-white-50 mb-2" href="https://www.emsisoft.com/en/"
              ><i class="fa fa-angle-right mr-2"></i>emsisoft</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contactanos
          </h5>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Pasto, Colombia</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 311 340 2393</p>
          <p><i class="fa fa-envelope mr-2"></i>freurbano@gmail.com</p>
        </div>
      </div>
    </div>

    <div
      class="container-fluid bg-dark text-white border-top"
      style="border-color: rgba(256, 256, 256, 0.1) !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0"></div>
        <div class="col-lg-6 text-center text-md-right"></div>
      </div>
    </div>
    <!-- Footer End -->

    <div>
      <!--*** Link del Javascript del Boostrap ***-->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script src="{% static 'js/pasos.js' %}"></script>
      <script src="{% static 'js/step3.js' %}"></script>
    </div>
  </body>
</html>
