<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/pasos.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!--*** Script del juego  ***-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>-->
    <title>Document</title>
  </head>
  <body class="bodys">
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
                  >Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'step1' %}"
                  >Metodología</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!--
      !:  Programación del Body de la parte iterativa
      ?:  Con javascript
    -->
    <div class="container">
      <div class="center">
        <!--! Imagen 1 -->
        <div class="main1" id="main1">
          <div class="power">
            <svg
              onclick="showImage1()"
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 13q-.425 0-.712-.288Q11 12.425 11 12V4q0-.425.288-.713Q11.575 3 12 3t.713.287Q13 3.575 13 4v8q0 .425-.287.712Q12.425 13 12 13Zm0 8q-1.875 0-3.512-.712q-1.638-.713-2.85-1.926q-1.213-1.212-1.926-2.85Q3 13.875 3 12q0-1.725.625-3.3q.625-1.575 1.8-2.85q.275-.3.7-.3q.425 0 .725.3q.275.275.25.687q-.025.413-.3.738q-.875.975-1.337 2.187Q5 10.675 5 12q0 2.925 2.038 4.962Q9.075 19 12 19t4.962-2.038Q19 14.925 19 12q0-1.325-.475-2.562q-.475-1.238-1.35-2.213q-.275-.3-.287-.7q-.013-.4.262-.675q.3-.3.725-.3t.7.3q1.175 1.275 1.8 2.85Q21 10.275 21 12q0 1.875-.712 3.512q-.713 1.638-1.925 2.85q-1.213 1.213-2.85 1.926Q13.875 21 12 21Z"
              />
            </svg>
          </div>
        </div>
        <!--! Imagen 2 -->
        <div class="main2" id="main2">
          <img src="/media/img/2.png" alt="" class="img-2" />
          <img
            src="/media/img/spinner.gif"
            alt=""
            class="spinner1"
            onclick="showImage2()"
          />
        </div>
        <!--! Imagen 3 -->
        <div class="main3" id="main3">
          <img src="/media/img/3.png" alt="" class="img-3" />
          <img src="/media/img/4.png" alt="" class="img-4" />
          <img
            src="/media/img/spinner.gif"
            alt=""
            class="spinner2"
            onclick="showImage3()"
          />
          <img src="/media/img/5.png" alt="" class="img-5" />
        </div>
        <!--! Imagen 4 -->
        <div class="main4" id="main4">
          <!--** contenedor de escritorio -->
          <!--TODO: Icono Papelera -->
          <img
            src="/media/img/papelera.svg"
            alt=""
            class="papelera"
            id="papelera"
          />
          <p class="papeleraTXT">Papelera de reciclaje</p>
          <!--TODO: Icono Escudo UniCesmag -->
          <img
            src="/media/img/unicesmag.png"
            alt=""
            class="escudo"
            id="escudo"
            onclick="showImage8()"
          />
          <div class="contenedor-escudo2" id="contenedor-escudo2">
            <button class="boton-escudo" onclick="showImage9()">X</button>
            <img
              src="/media/img/unicesmag.png"
              alt=""
              class="escudo2"
              id="escudo2"
            />
          </div>
          <p class="escudoTXT">UniCesmag.png</p>
          <!--TODO: Icono Texto txt -->
          <img
            src="/media/img/txt.png"
            alt=""
            class="texto"
            id="texto"
            onclick="showImage10()"
          />
          <div class="contenedor-texto" id="contenedor-texto">
            <button class="boton-texto" onclick="showImage11()">X</button>
            <img src="/media/img/txt.png" alt="" class="texto2" id="texto2" />
          </div>
          <p class="txtTXT">Texto.txt</p>
          <!--TODO: Icono Ejecutable Jigsaw -->
          <img
            src="/media/img/12.png"
            alt=""
            class="img-9"
            id="img-9"
            onclick="showImage4()"
          />
          <!--TODO: Contenedor de Ejecutable jigsaw -->
          <div class="contenedor-img-10" id="contenedor-img-10">
            <img src="/media/img/10.png" alt="" class="img-10" id="img-10" />
            <div id="contenedor2-img-10" onclick="showImage13()"></div>
            <div id="contenedor3-img-10" onclick="showImage14()"></div>
            <div id="salir-img-10" onclick="showImage15()"></div>
          </div>
          <!--TODO: Contenedor de Apagar / Reiniciar  -->
          <div class="contenedor-img-11" id="contenedor-img-11">
            <img src="/media/img/11.png" alt="" class="" id="img-11" />
            <div class="" id="cont2-img-11" onclick="showImage6()"></div>
            <div class="" id="cont3-img-11" onclick="showImage7()"></div>
          </div>
          <!--TODO: Contenedor de Notificaciones -->
          <div class="notificaciones" id="notificaciones">
            <p class="notificacionesTXT">No hay nuevas notificaciones</p>
          </div>
          <!--** Contenedor de barra -->
          <div class="barra">
            <div class="menuInicio" onclick="showImage5()"></div>
            <div
              class="contenedor-img-6"
              id="contenedor-img-6"
              onclick="showImage5()"
            >
              <img src="/media/img/6.png" alt="" class="img-6" />
            </div>
            <img
              src="/media/img/7.png"
              alt=""
              class="img-7"
              onclick="showImage12()"
            />
            <img src="/media/img/8.png" alt="" class="img-8" />
            <div class="barra-escudo" id="barra-escudo">
              <img
                src="/media/img/unicesmag.png"
                alt=""
                class="barra-escudo2"
                id="barra-escudo2"
                onclick="showImage8()"
              />
            </div>
            <div class="barra-texto" id="barra-texto">
              <img
                src="/media/img/txt.png"
                alt=""
                class="barra-texto2"
                id="barra-texto2"
                onclick="showImage10()"
              />
            </div>
            <div class="fecha"><span id="fecha"></span></div>
          </div>
        </div>
        <!--! imagen 5  -->
        <div class="main5" id="main5">
          <!--** Contenedor de escritorio -->
          <!--TODO: Papelera -->
          <img src="/media/img/papelera.svg" alt="" class="cifradoPapelera" />
          <p class="cifradoPapeleraTXT">Papelera de reciclaje</p>
          <!--TODO: Escudo UniCesmag -->
          <img src="/media/img/13.png" alt="" class="cifradoEscudo" />
          <p class="cifradoEscudoTXT">UniCesmag.png.fun</p>
          <!--TODO: Texto txt -->
          <img src="/media/img/13.png" alt="" class="cifradoTexto" />
          <p class="cifradoTextoTXT">Texto.txt.fun</p>
          <!--TODO: Contenedor de Notificaciones -->
          <div class="notificaciones2" id="notificaciones2">
            <p class="notificaciones2TXT">No hay nuevas notificaciones</p>
          </div>
          <!--** Contenedor de barra -->
          <div class="barra">
            <div class="menuInicio2" onclick="showImage17()"></div>
            <div
              class="contenedor-img-6"
              id="contenedor-img-6"
              onclick="showImage5()"
            >
              <img src="/media/img/6.png" alt="" class="img-6" />
            </div>
            <img
              src="/media/img/7.png"
              alt=""
              class="img-7"
              onclick="showImage16()"
            />
            <img src="/media/img/8.png" alt="" class="img-8" />
            <div class="barra-escudo" id="barra-escudo">
              <img
                src="/media/img/unicesmag.png"
                alt=""
                class="barra-escudo2"
                id="barra-escudo2"
                onclick="showImage8()"
              />
            </div>
            <div class="barra-texto" id="barra-texto">
              <img
                src="/media/img/txt.png"
                alt=""
                class="barra-texto2"
                id="barra-texto2"
                onclick="showImage10()"
              />
            </div>
            <div class="fecha2"><span id="fecha2"></span></div>
          </div>
          <!--TODO: Contenedor de Ransomware Jigsaw -->
          <div class="containerSaw">
            <div class="contenedorLetra">
              <p class="letraSaw" id="letraSaw"></p>
            </div>
            <img src="/media/img/saw.webp" alt="" class="imgSaw" />
            <div class="contenedorTiempo">
              <span id="timer" class="timer"></span>
            </div>
            <div class="contenedorEncriptados">
              <p class="letraEncriptados">Se eliminará 1 archivo</p>
            </div>
            <div class="verEncriptados">
              <button class="letraVerEncriptados" onclick="showImage18()">
                Ver Archivos encriptados
              </button>
            </div>
            <div class="contenedorPagar">
              <p class="letraPagar">
                Por favor, envíe 150 dólares en Bitcoin aquí:
              </p>
            </div>
            <div class="contenedorClave">
              <p class="letraClave">13VEVAJUMdJyQ7ttPfBaVNKj2d9ahU1z</p>
            </div>
            <div class="contenedorEnviar">
              <button class="letraEnviar">
                Hice un pago, ¡ahora devuélveme mis archivos!
              </button>
            </div>
          </div>
          <!--TODO: Contenedor de archivos encriptados -->
          <div class="containerEncriptados" id="containerEncriptados">
            <div class="containerTop">
              <img class="iconoEncripted" src="/media/img/14.png" alt="" />
              <p class="textEncripted">EncryptedFiles</p>
              <svg
                class="salirEncripted"
                onclick="showImage19()"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 24 24"
              >
                <path
                  fill="red"
                  d="m9 7l2 5l-2 5h2l1-2.5l1 2.5h2l-2-5l2-5h-2l-1 2.5L11 7H9M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2Z"
                />
              </svg>
            </div>
            <div class="containerArchivos">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Deleted</th>
                    <th>Path</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="cont-a"></div></td>
                    <td>C:\Users\Unicesmag\Escritorio\Unicesmag.png</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>C:\Users\Unicesmag\Escritorio\Texto.txt</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>C:\Program Files (*86)\Microsoft.NET</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container mb-5">
      <h1>Texto cualquiera para instruir</h1>
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="/media/img/0.png"
          class="img-fluid img0"
          id="imagen0"
          usemap="#miMapa0"
          onclick=""
        />
        <map name="miMapa0">
          <area shape="rect" coords="508,241,785,476" onclick="power()" />
        </map>
        <img
          src="/media/img/1.gif"
          alt=""
          srcset=""
          class="img-fluid img1"
          id="imagen1"
          onclick=""
        />
        <img
          src="/media/img/2.gif"
          alt=""
          srcset=""
          class="img-fluid img2"
          id="imagen2"
          onclick=""
        />
        <img
          src="/media/img/3.png"
          alt=""
          srcset=""
          class="img3"
          id="imagen3"
          usemap="#miMapa1"
          onclick=""
        />
        <map name="miMapa1">
          <area shape="rect" coords="1117,341,1253,479" onclick="showImage()" />
          <area shape="rect" coords="65,720,0,661" onclick="showImage2()" />
        </map>
        <img
          src="/media/img/4.png"
          alt=""
          srcset=""
          class="img-fluid img4"
          id="imagen4"
          onclick=""
          usemap="#miMapa2"
        />
        <map name="miMapa2">
          <area shape="rect" coords="316,170,393,207" onclick="ejecutar()" />
          <area shape="rect" coords="407,172,485,208" onclick="cancelar()" />
          <area shape="rect" coords="471,3,499,24" onclick="cancelar()" />
        </map>
        <img
          src="/media/img/5.png"
          class="img-fluid img5"
          id="imagen5"
          usemap="#miMapa3"
        />
        <map name="miMapa3">
          <area shape="rect" coords="27,95,242,287" onclick="apagar()" />
          <area shape="rect" coords="291,115,471,262" onclick="reset()" />
        </map>
        <img src="congelar" class="img-fluid img6" id="imagen6" />
        <img src="/media/img/7.png" class="img7" id="imagen7" />
        <img src="/media/img/8.png" class="img-fluid img8" id="imagen8" />
      </div>
    </div> -->

    <!-- <video controls autoplay id="myVideo" class="img6" onclick="toggleVideo()">
          <source src="/media/img/4.mp4" type="video/mp4" />
        </video> -->

    <!-- <div class="footer fixed-bottom bg-black">.</div> -->

    <!--
    ***  
    !-- En esta parte va el paso a paso pero documentado 
    ***
    -->
    <br />
    <div class="titulo__pasosM">
      <h1>PASOS METODOLOGÍA</h1>
      <p>Sigue los siguientes pasos de forma facil accedeiendo a cada boton</p>
    </div>

    <div class="container text-center">
      <div class="row pb-5 bg-light shadow pt-5">
        <div class="col">
          <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso1()">
            paso 1 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso2()">
            paso 2 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso3()">
            paso 3 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso4()">
            paso 4 Metodología
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso5()">
            paso 5 Metodología
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid booking mt-10 pb-5">
      <div class="row align-items-center">
        <div class="col-md-12 ">
          <div class="container pb-5 bg-light shadow pt-5">
            <button class="btn btn-primary btn-lg mx-3" onclick="mostrarPaso1()">
              paso 1 Metodología
            </button>
            <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso2()">
              paso 2 Metodología
            </button>
            <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso3()">
              paso 3 Metodología
            </button>
            <button class="btn btn-primary btn-lg mx-2" onclick="mostrarPaso4()">
              paso 4 Metodología
            </button>
            <button class="btn btn-primary btn-lg mx-2"  onclick="mostrarPaso5()">
              paso 5 Metodología
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div
      id="botonera"
      class="container-lg mt-2 btn-group d-md-block justify-content-md-center"
    >
      <button class="btn btn-primary btn-lg" onclick="mostrarPaso1()">
        PASO 1 METODOLOGÍA
      </button>
      <button class="btn btn-primary btn-lg" onclick="mostrarPaso2()">
        PASO 2 METODOLOGÍA
      </button>
      <button class="btn btn-primary btn-lg" onclick="mostrarPaso3()">
        PASO 3 METODOLOGÍA
      </button>
      <button class="btn btn-primary btn-lg" onclick="mostrarPaso4()">
        PASO 4 METODOLOGÍA
      </button>
      <button class="btn btn-primary btn-lg" onclick="mostrarPaso5()">
        PASO 5 METODOLOGÍA
      </button>
    </div> -->

    <div class="container container__pasos">
      <!--ventana paso 1-->

      <div id="vp1" class="container-fluid">
        <div class="col">
          <iframe
            width="100%"
            height="600"
            src="https://www.youtube.com/embed/JXDUKotmsWQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="col">
          <button
            id="btn_vp1"
            class="btn btn-primary btn-md ms-5"
            onclick="iframe2()"
          >
            Cerrar Video del Paso1
          </button>
        </div>
      </div>
      <div class="pasos__card">
        <div id="div__paso1" class="container bg-light shadow">
          <h1>PASO 1 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Cierre de Escena de Infección</p>
            <h4>
              El cierre de la escena de infección es fundamental para preservar
              todos los posibles pistas y para hacer inventario de todos los
              artefactos afectados.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 1</h3>
              </div>

              <div class="">
                <button class="btn btn-primary btn-lg mx-2 shadow" onclick="iframe1()">
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--ventana paso 2-->

        <div id="vp2" class="container-fluid">
          <div class="col">
            <iframe
              width="100%"
              height="600"
              src="https://www.youtube.com/embed/JXDUKotmsWQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp2"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe4()"
            >
              Cerrar Video del Paso 2
            </button>
          </div>
        </div>

        <div id="div__paso2" class="container bg-light shadow">
          <h1>PASO 2 METODOLOGÍA</h1>
          <div class="pasos">
            <p>No apagar el ordenador afectado</p>
            <h4>
              Este paso se debe realizar para preservar evidencias y pistas de
              los ciberdelicuentes.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 2</h3>
              </div>
              <div class="">
                <button class="btn btn-primary btn-lg mx-2 shadow" onclick="iframe3()">
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--ventana paso 3-->

        <div id="vp3" class="container-fluid">
          <div class="col">
            <iframe
              width="100%"
              height="600"
              src="https://www.youtube.com/embed/JXDUKotmsWQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp3"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe6()"
            >
              Cerrar Video del Paso 3
            </button>
          </div>
        </div>
        <div id="div__paso3" class="container bg-light shadow">
          <h1>PASO 3 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Desconectar todas las conecciónes</p>
            <h4>
              Es vital desconectar el o los ordenadores afectados de toda
              conección ya sea alámvria o inalámbrica.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 3</h3>
              </div>
              <div class="">
                <button class="btn btn-primary btn-lg mx-2 shadow" onclick="iframe5()">
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--ventana paso 4-->

        <div id="vp4" class="container-fluid">
          <div class="col">
            <iframe
              width="100%"
              height="600"
              src="https://www.youtube.com/embed/JXDUKotmsWQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp4"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe8()"
            >
              Cerrar Video del Paso 4
            </button>
          </div>
        </div>

        <div id="div__paso4" class="container bg-light shadow">
          <h1>PASO 4 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Identificar qué ransomware infectó el sistema</p>
            <h4>
              La identificación del ransomware involucrado se realiza mediante
              el uso de herramientas que nos indican cual exactamente el
              malware.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 4</h3>
              </div>
              <div class="">
                <button class="btn btn-primary btn-lg mx-2 shadow" onclick="iframe7()">
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--ventana paso 5-->

        <div id="vp5" class="container-fluid">
          <div class="col">
            <iframe
              width="100%"
              height="600"
              src="https://www.youtube.com/embed/JXDUKotmsWQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="col">
            <button
              id="btn_vp5"
              class="btn btn-primary btn-md ms-5"
              onclick="iframe10()"
            >
              Cerrar Video del Paso 5
            </button>
          </div>
        </div>

        <div id="div__paso5" class="container bg-light shadow">
          <h1>PASO 5 METODOLOGÍA</h1>
          <div class="pasos">
            <p>Ransomware de cifrado y bloqueo</p>
            <h4>
              Los ransomwares mas usados son de cifrado ya que son los mas
              efectivos a la hora de solitar rescate a sus victimas.
            </h4>
            <div class="step__pasos">
              <div class="text__pasos1 bg-light shadow">
                <h3>Paso 5</h3>
              </div>
              <div class="">
                <button class="btn btn-primary btn-lg mx-2 shadow" onclick="iframe9()">
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark text-white-50"
      style="margin-top: 90px"
    >
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">METODO</span>LOGÍA
            </h1>
          </a>
          <p>
            Metodología creada para capacitar a empresas para hacerle frente a
            infecciónes ransomare
          </p>
          <h6
            class="text-white text-uppercase mt-4 mb-3"
            style="letter-spacing: 5px"
          >
            Siguenos
          </h6>
          <div class="d-flex justify-content-start">
            <a class="btn btn-outline-primary btn-square mr-2" href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-primary btn-square mr-2" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-primary btn-square mr-2" href="#"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-primary btn-square" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros Servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Documentación</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Capacitacion</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Metodología</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            links funcionales
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a
              class="text-white-50 mb-2"
              href="https://id-ransomware.malwarehunterteam.com/"
              ><i class="fa fa-angle-right mr-2"></i>ID Ransomware</a
            >
            <a
              class="text-white-50 mb-2"
              href="https://latam.kaspersky.com/home-security?reseller=es-LA_bb2023_pro_ona_sem_bra_onl_b2c_goo_ppc-ad_______&utm_content=bb2023|generic&utm_id=bi_cmp-298177336_adg-1294125578123615_ad-80882956982290_kwd-80883071480946:loc-43_dev-c_ext-_prd-_sig-3ecd079b75db1311a69063bc2306550b&utm_source=google&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-%20SP%20-%20B-EXA-KW&msclkid=3ecd079b75db1311a69063bc2306550b&utm_source=bing&utm_medium=cpc&utm_campaign=M%20-%20CO%20-%20LATAM%20-%20B2C%20-%20PS%20-%20Branded%20-
            %20SP%20-%20B-EXA-KW&utm_term=kaspersky&utm_content=kaspersky"
              ><i class="fa fa-angle-right mr-2"></i>kaspersky</a
            >
            <a class="text-white-50 mb-2" href="https://www.emsisoft.com/en/"
              ><i class="fa fa-angle-right mr-2"></i>emsisoft</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Packages</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Herramientas</a
            >
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contactanos
          </h5>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Pasto, Colombia</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 311 345 6789</p>
          <p><i class="fa fa-envelope mr-2"></i>ransomare@gmail.com</p>
          <h6
            class="text-white text-uppercase mt-4 mb-3"
            style="letter-spacing: 5px"
          >
            Notificaciones
          </h6>
          <div class="w-100">
            <div class="input-group">
              <input
                type="text"
                class="form-control border-light"
                style="padding: 25px"
                placeholder="Tu Email"
              />
              <div class="input-group-append">
                <button class="btn btn-primary px-3">únete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid bg-dark text-white border-top"
      style="border-color: rgba(256, 256, 256, 0.1) !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white-50">
            Copyright &copy; <a href="#">Dominio</a>. Todos los derechos
            reservados.
          </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
          <p class="m-0 text-white-50">
            Designed by <a href="https://htmlcodex.com">HTML Codex</a>
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <div>
      <!--*** Link del Javascript del Boostrap ***-->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script src="{% static 'js/step.js' %}"></script>
      <script src="{% static 'js/pasos.js' %}"></script>
    </div>
  </body>
</html>
