<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/pasos.css' %}"
    />
    <!--*** Link del Bootstrap ***-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!--*** Script del juego  ***-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>-->
    <title>Document</title>
  </head>
  <body class="bodys">
    <!--! Este Código es la barra de navegación -->
    <header class="main-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 pb-3">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
          <a class="navbar-brand">Bienvenido/a {{ user.username }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
                  >Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'method' %}">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'train' %}">Capacitación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'step1' %}"
                  >Metodología</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'encryption8' %}"
                  >Herramientas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
        {% else %} {% endif %}
      </nav>
    </header>

    <!--
      !:  Programación del Body de la parte iterativa
      ?:  Con javascript
    -->
    <div class="container mb-5">
      <h1>Texto cualquiera para instruir</h1>
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="/media/img/0.png"
          class="img-fluid img0"
          id="imagen0"
          usemap="#miMapa0"
          onclick=""
        />
        <map name="miMapa0">
          <area shape="rect" coords="508,241,785,476" onclick="power()" />
        </map>
        <img
          src="/media/img/1.gif"
          alt=""
          srcset=""
          class="img-fluid img1"
          id="imagen1"
          onclick=""
        />
        <img
          src="/media/img/2.gif"
          alt=""
          srcset=""
          class="img-fluid img2"
          id="imagen2"
          onclick=""
        />
        <img
          src="/media/img/3.png"
          alt=""
          srcset=""
          class="img3"
          id="imagen3"
          usemap="#miMapa1"
          onclick=""
        />
        <map name="miMapa1">
          <area shape="rect" coords="1117,341,1253,479" onclick="showImage()" />
          <area shape="rect" coords="65,720,0,661" onclick="showImage2()" />
        </map>
        <img
          src="/media/img/4.png"
          alt=""
          srcset=""
          class="img-fluid img4"
          id="imagen4"
          onclick=""
          usemap="#miMapa2"
        />
        <map name="miMapa2">
          <area shape="rect" coords="316,170,393,207" onclick="ejecutar()" />
          <area shape="rect" coords="407,172,485,208" onclick="cancelar()" />
          <area shape="rect" coords="471,3,499,24" onclick="cancelar()" />
        </map>
        <img
          src="/media/img/5.png"
          class="img-fluid img5"
          id="imagen5"
          usemap="#miMapa3"
        />
        <map name="miMapa3">
          <area shape="rect" coords="27,95,242,287" onclick="apagar()" />
          <area shape="rect" coords="291,115,471,262" onclick="reset()" />
        </map>
        <img src="congelar" class="img-fluid img6" id="imagen6" />
        <img src="/media/img/7.png" class="img7" id="imagen7" />
        <img src="/media/img/8.png" class="img-fluid img8" id="imagen8" />
        <!--  -->

        <!-- <video controls autoplay id="myVideo" class="img6" onclick="toggleVideo()">
          <source src="/media/img/4.mp4" type="video/mp4" />
        </video> -->

        <!-- <div class="footer fixed-bottom bg-black">.</div> -->
      </div>
    </div>

    <!--
    ***  
    !-- En esta parte va el paso a paso pero documentado 
    ***
    -->
    <br />
    <div class="pasosM">
      <button onclick="mostrarPaso1()">PASO 1</button>
      <button onclick="mostrarPaso2()">PASO 2</button>
      <button onclick="mostrarPaso3()">PASO 3</button>
      <button onclick="mostrarPaso4()">PASO 4</button>
      <button onclick="mostrarPaso5()">PASO 5</button>
      <button onclick="mostrarPaso6()">PASO 6</button>
      <button onclick="mostrarPaso7()">PASO 7</button>
      <button onclick="mostrarPaso8()">PASO 8</button>
      <button onclick="mostrarPaso9()">PASO 9</button>
      <button onclick="mostrarPaso10()">PASO 10</button>
      <button onclick="mostrarPaso11()">PASO 11</button>
      <button onclick="mostrarPaso12()">PASO 12</button>
    </div>

    <div class="container__pasos">
      <div class="pasos__card">
        <div id="div__paso1">
          <div class="pasos">
            <div class="step__pasos">
              <div class="text__pasos">
                <h3>Paso 1</h3>
                <p>Cierre de Escena de Infección</p>
                <h4>
                  El cierre de la escena de infección es fundamental para
                  preservar todos los posibles pistas y para hacer inventario de
                  todos los artefactos afectados.
                </h4>
              </div>
              <div class="image__pasos">
                <dialog id="video__pasos">
                  <video class="video1" width="100%" height="595" controls>
                    <source src="video.mp4" type="video/mp4" />
                  </video>
                  <button
                    id="close"
                    onclick="document.getElementById('video__pasos').close()"
                  >
                    Cerrar!
                  </button>
                </dialog>
                <button
                  id="mostrar__pasos"
                  onclick="document.getElementById('video__pasos').showModal()"
                >
                  Mostrar video
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="div__paso2">PASO 2 TEXTO PRUEBA</div>
        <div id="div__paso3">PASO 3 TEXTO PRUEBA</div>
        <div id="div__paso4">PASO 4 TEXTO PRUEBA</div>
        <div id="div__paso5">PASO 5 TEXTO PRUEBA</div>
        <div id="div__paso6">PASO 6 TEXTO PRUEBA</div>
        <div id="div__paso7">PASO 7 TEXTO PRUEBA</div>
        <div id="div__paso8">PASO 8 TEXTO PRUEBA</div>
        <div id="div__paso9">PASO 9 TEXTO PRUEBA</div>
        <div id="div__paso10">PASO 10 TEXTO PRUEBA</div>
        <div id="div__paso11">PASO 11 TEXTO PRUEBA</div>
        <div id="div__paso12">PASO 12 TEXTO PRUEBA</div>
      </div>
    </div>

    <div>
      <!--*** Link del Javascript del Boostrap ***-->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script src="{% static 'js/step.js' %}"></script>
      <script src="{% static 'js/pasos.js' %}"></script>
    </div>
  </body>
</html>
